@import "custom/_fonts";

.FaxViewer {

  @media (min-width: 576px) {
    &.modal-dialog {
      max-width: 1100px;
    }
  }
}

.FaxDetails {
  padding: 0 50px;
}

.FaxDetails-Section {
  padding-top: 20px;
}

.FaxDetails-SectionTitle {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.FaxDetail-SecureMailValue {
  display: flex;
  flex-direction: row;
}

.FaxDetails-Button {
  width: 100px;
  height: 35px;
  margin-top: 30px;

  &.btn {
    padding: 0;
  }
}

.FaxDetails-Summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
}

.FaxDetails-Avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
}

.FaxDetails-MainInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.FaxDetails-Name {
  font-size: 18px;
  font-weight: 600;
  color: $font-color_head-text;
}

.FaxDetails-SystemRole {
  font-size: 14px;
  color: $font-color_head-text;
}

.FaxDetails-Status {
  color: $font-color_head-text;
  font-size: 14px;
  padding: 0 8px;
  border-radius: 2px;
}

.FaxDetail,.FaxForm-TextField {
  margin-bottom: 35px;
  margin-top: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .Detail-Title {
    white-space: nowrap;
    margin-right: 10px;
    font-size: 14px;
    padding-right: 15px;
    font-family: "Open Sans Semibold", sans-serif;
  }

  .Detail-Value {
    color: $font-color_head-text;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }
}

.FaxDetail-Icon {
  margin-top: -4px;
  margin-left: 8px;
}

.FaxDetails-CheckboxField {
  margin-left: 15px;
}

.FaxDetail-AssociatedClients {
  flex-direction: column;
}




.FaxDetail .Detail-Title{
  white-space: nowrap;
  margin-right: 10px;
  font-size: 14px;
  padding-right: 15px;
  font-family: "Open Sans Semibold", sans-serif;
}