.ResourceNameListContainer {
    padding: 0 25px;
}

.ResourceNameList {
    .ResourceNameList-SelectBtn {
        height: 35px;
        line-height: 1.3;
    }

    caption {
        display: none;
    }

    .Table-Header {
        display: none;
    }
}