.CommunityTile {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;

  &-Body {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    flex-grow: 1;
    height: 243px;
    max-height: 243px;
  }

  &-Footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 41px;
    height: 72px;
    background: #0064ad;
  }

  &-Logo {
    position: relative;
    overflow-x: hidden;
    height: 48px;
    margin-bottom: 30px;

    &Picture {
      position: absolute;
      height: 48px;

      &:nth-child(2n) {
        display: none;
      }
    }
  }

  &-Label,
  &-Types {
    font-family: "Open Sans", sans-serif;
    line-height: 23px;
  }

  &-Label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    min-height: 23px;
  }

  &-Description {
    font-size: 14px;
  }

  &-Button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &Icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border: dotted 2px rgba(255, 255, 255, 0.4);
      border-radius: 50%;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    &Label {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: white;
    }
  }
}