.MonthEventLayoutGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 135px;
  grid-gap: 1px;
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;

  &-Cell {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    padding-top: 27px;

    &:hover {
      .MonthEventLayoutGrid-AddEventBtn {
        visibility: visible;
      }
    }
  }

  .CalendarEvent {
    padding: 3px 4px;
    margin-bottom: 2px;
    font-size: 11px;
    color: #222222;
    font-family: "Open Sans", sans-serif;

    &_canceled {
      color: #626262;
      text-decoration: line-through;
    }

    &-Title {
      margin-bottom: 0;
    }
  }

  .SimultaneousEventGroup {
    display: flex;
    flex-direction: row;

    .CalendarEvent {
      flex: 1;
      margin-right: 2px;

      &-StartTime {
        display: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-Slot {
    flex: 1;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 35px;
  }

  &-AddEventBtn {
    cursor: pointer;
    visibility: hidden;
  }

  &-ShowMoreEvents {
    cursor: pointer;
    font-size: 14px;
    color: #0064ad;
    font-family: "Open Sans Semibold", sans-serif;
  }
}

.CalendarEventListPopup {
  .tooltip {
    z-index: 1000;
  }

  .tooltip-inner {
    text-align: left;
    padding: 20px 15px 20px 25px;
    max-width: 500px;
  }
}

.CalendarEventList {
  display: flex;
  flex-direction: column;
  max-height: 600px;

  &-Header {
    margin-right: 10px;
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
  }

  &-Title {
    color: #222222;
    font-size: 20px;
    text-align: left;
    padding-bottom: 8px;
    font-family: "Open Sans Semibold", sans-serif;
  }
}

.CalendarEventListItem {
  padding: 12px 0;

  &:last-child {
    margin-bottom: 0;
  }
}