@import "custom/_fonts";

.UserProfile {
    display: flex;
    width: 320px;
    border: 1px solid #bfbdbd;
    box-shadow: 0 2px 18px 2px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;

    &-Avatar {
        margin: 20px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-Details {
        flex: 1;
        width: 100%;
        padding: 18px 20px 20px 0;
    }

    &-Name {
        color: $font-color_head-text;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 4px;
        font-family: "Open Sans Semibold", sans-serif;
    }

    &-Role {
        color: $font-color_head-text;
        font-size: 14px;
        margin-bottom: 12px;
    }

    &-LogOutBtn {
        &.btn {
            padding: 0px;
        }

        width: 100px;
        height: 35px;
    }
}
