.SavedCommunitiesPopup {
  position: fixed;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);

  @media (min-width: 410px) {
    width: 410px;
  }

  @media (max-width: 409px) {
    width: 100%;
  }

  &-Header {
    color: #ffffff;
    background-color: #03b6f3;
    border-radius: 3px 3px 0 0;
    margin: 0;
    font-size: 15px;
    padding: 0;
    font-family: "Open Sans Semibold", sans-serif;

    &Body {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 16px;
    }

    &Icon {
      height: 20px;
      fill: #ffffff;
    }
  }

  &-ToggleIcon {
    height: 24px;
    width: 16px;
    fill: #ffffff;
    padding: 12px 16px;
    box-sizing: content-box;
  }
}