@import "custom/fonts";
@import "custom/mixins";

.MarketplaceProviders {
  flex: 1;
  display: flex;
  flex-direction: column;

  .gm-style .gm-style-iw-c .gm-style-iw-d::-webkit-scrollbar-thumb {
    background-clip: border-box;
  }

  &-CommunityName {
    font-weight: normal;
    font-size: 18px;
  }

  &-Body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 35px 20px;

    @media (max-width: 667px) {
      padding: 0 17px;
    }
  }

  &-OrganizationPhone {
    color: #00ace6;
    font-size: 14px;
    font-family: "Open Sans Semibold", sans-serif;
  }
}

.ForgetPasswordLink {
  color: #0064ad;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  text-decoration: none;
  font-family: "Open Sans Semibold", sans-serif;

  &:hover {
    color: #0064ad;
  }
}

.MarketplaceProviders-Title,
.FeaturedProviders-Title {
  flex: 1;
  font-size: 26px;
  color: $font-color_head-text;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  font-family: "Open Sans Semibold", sans-serif;
}

.MarketplaceProviderList {
  flex: 1;
  margin-bottom: 10px;

  &-NotFound {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-List {
    padding: 20px;
    max-height: 900px;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;


    &_fetching {
      pointer-events: none;
    }

    &Item {
      flex: 1;
      margin: 15px;
      border-radius: 4px;
      max-width: calc(50% - 60px);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    }
  }

  &-Loader {
    top: 60px;
    width: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;

    &_paginated {
      top: initial;
      bottom: 20px;
    }
  }

  &-Title {
    font-size: 26px;
    font-weight: bold;
    color: $font-color_head-text;
    margin-top: 20px;
    padding-bottom: 15px;
    font-family: "Open Sans Semibold", sans-serif;
  }

  &-Search {
    width: 100%;
    display: flex;
  }

  &-SearchField {
    flex: 1;
  }

  &-SearchBtn {
    &.btn {
      padding: 0;
      width: 100px;
      height: 35px;
      margin-left: 5px;
    }
  }
}