.buildingDetailWrap {
  padding: 20px 34px;
  font-family: "Open Sans Semibold", sans-serif;
  margin-bottom: 60px;
}


.buildingDetailBox {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1400px) {
    display: block;
  }

  .buildingDetailLeft {
    width: calc(70% - 20px);
    box-shadow: 0 4px 8px 0 #8E939C40;
    border-top: 5px solid #233250;
    padding: 20px 30px;

    @media screen and (max-width: 1400px) {
      width: 100%;
    }

    .detailHeader {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 20px;

      @media screen and (max-width: 500px) {
        flex-direction: column;
      }

      .detailHeaderLeft {
        font-size: 36px;
        font-weight: 500;
        line-height: 54px;
      }

      .detailHeaderRight {
        display: flex;
        gap: 20px;

        div {
          width: 100px;
          height: 36px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 6px;

          &:first-child {
            border: 1px solid #4991df;
            color: #4991df;
          }

          /* &:last-child {
             color: #fff;
             border: 1px solid #9d9d9d;
             background-color: #9d9d9d;
           }*/
        }
      }
    }

  }

  .buildingDetailRight {
    width: 30%;
    margin-left: 20px;
    //display: grid;
    //grid-template-columns: 1fr; /* 设置子元素列宽为父元素宽度的1份 */
    //grid-template-rows: 447px 447px 447px;
    //grid-gap: 10px;

    @media screen and (max-width: 1400px) {
      width: 100%;
      margin-left: 0;
    }


    .buildingDetailRightHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 20px;

      .buildingDetailRightHeaderTitle {
        font-size: 22px;
        font-weight: 500;
        line-height: 33px;
        color: #000;
      }

      .buildingDetailRightHeaderViewMore {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: #686868;
        cursor: pointer;

        span:last-child {
          margin-left: 5px;
        }
      }
    }

    .buildingDetailRightBox {
      flex: 1;
      box-shadow: 0 4px 8px 0 #8E939C40;

      .noFeeds {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        img {
          width: 124px;
        }

        .noFeedsText {
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          color: #929CB8;
        }
      }

      .empty-box {
        width: 100%;
        height: 100%;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .empty-img {
        max-width: 50px;
        max-height: 50px;
      }

    }

    .notifactionFeeds {
      display: flex;
      flex-direction: column;
    }

    .referhistory {
      width: 100%;
      display: flex;
      flex-direction: column;
      //margin-top: 20px;

      .referhistoryWrap {
        width: 100%;
        height: 375px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        //grid-template-columns: 1fr;
        //grid-template-rows: repeat(4, 86.25px);
        gap: 10px;
        padding: 0 15px;

        .referhistoryBox {
          width: 100%;
          //height: 86.25px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          justify-content: center;
          border-bottom: 1px solid #DDDDDD;
          padding: 10px 0;

          &:last-child {
            border-bottom: 1px solid #DDDDDD !important;
          }

          &:last-child {
            border-bottom: none;
          }

          .referhistoryBoxHeader {
            font-size: 16px;
            font-weight: 500;
            line-height: 21px;
            color: #000;

            span:first-child {
              margin-right: 10px;
            }
          }

          .referhistoryInfo {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: #808080;
          }

          .referDescription {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: #808080;

            //width: calc(100% - 100px);

            //width: 400px;
            display: -webkit-box;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            overflow: hidden;
            /* 控制文本显示两行 */
            -webkit-line-clamp: 2;

          }
        }
      }
    }

    .recentBids {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .recentBidsWrap {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 89px);
        gap: 10px;

        padding: 0 15px;

        .recentBidsBox {
          height: 89px;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px dashed #DDDDDD;
          align-items: center;

          &:first-child {
            border-bottom: 1px dashed #DDDDDD !important;
          }

          &:last-child {
            border-bottom: none;
          }

          .recentBidsWrapLeft {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            .recentBidsWrapLeftTime {
              display: flex;
              gap: 50px;
            }

          }

          .recentBidsBoxStatusClosed {
            color: #BABDBB;
            border: 1px solid #BABDBB;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            border-radius: 18px;
            padding: 0 5px;
            position: relative;
            top: -15px;

            img {
              margin-right: 5px;
            }
          }

          .recentBidsBoxStatusActive {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            border-radius: 18px;
            color: #1BB93E;
            border: 1px solid #1BB93E;
            padding: 0 5px;
            position: relative;
            top: -15px;

            img {
              margin-right: 5px;
            }
          }
        }


      }
    }

  }

}

.detailInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;

  @media screen and (max-width: 1000px) {
    display: block;
    width: 100%;
  }

  .detailInfoLeft {
    display: grid;
    grid-template-columns:1fr 1fr;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        color: #222222;
      }

      &:last-child {

        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
        }
      }
    }
  }

  .detailInfoRight {
    //width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    //@media screen and (min-width: 768px) {
    //  flex: 2;
    //}


    .detailInfoRightImgLeft {
      flex: 1;
      //display: block;
      height: 100%;
      max-height: 224px;

      img {
        width: 100%;
        //height: 100%;
        max-height: 224px;
      }

      @media screen and (min-width: 768px) {
        flex: 2;
      }

      @media screen and (min-width: 1000px) {
        img {
          height: 100%;
        }
      }

    }

    .detailInfoRightImgRight {
      display: none;

      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        gap: 10px;
      }

      @media screen and (min-width: 768px) {
        flex: 1;

        img {
          max-height: 107px;
        }
      }
    }
  }
}

.detailService {
  margin-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;

  .detailServiceTitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    color: #222;

    margin-bottom: 10px;
  }

  .detailSeriveWrap {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;


    .detailServiceDetail {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;

      color: #222;
      border: 1px solid #DDDDDD;

      padding: 10px 10px;

      @media screen and (max-width: 500px) {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }
    }
  }


}

.detailLanguages {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;

  .detailLanguagesTitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #222;
  }

  .detailLanguagesDetails {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;

    .detailLanguagesDetail {
      display: flex;
      align-items: center;


      img {
        width: 12px;
        height: 12px;
      }

      span {
        margin-left: 10px;
      }
    }
  }


}

.detailIntroduction {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
  //width: 1206px;
  word-wrap: break-word
}

.detailMap {
  height: 567px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.searchList {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.paginationBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 10px;
}


.SearchBox {
  //width: calc(20% - 16px);
  width: 100%;

  border: 1px solid #DDDDDD;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .searchCenter {
    margin-top: 15px;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr; /* 1列 */
    grid-template-rows: 1fr 1fr 1fr; /* 3行 */
    gap: 10px; /* 可选：定义网格间的间隙 */
  }

  .searchImg {
    width: 100%;
    //height: 143.48px;
    aspect-ratio: 16/9;
  }

  .searchName {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #222222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .searchAddress {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .searchZipCode {
      color: #4991DF;
    }
  }

  .searchPhone {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  .searchButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    div {
      //flex: 1;
      //width: 117px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #222;
      border-radius: 5px;
      cursor: pointer;
    }

    .searchSend {
      height: 35px;
      background-color: #222;
      color: #fff;
      border-color: #9d9d9d;
      //cursor: not-allowed;
    }

    .searchSendVendor {
      background-color: #9d9d9d !important;
      cursor: not-allowed;
    }

    .searchRefer {
      background-color: #fff;
      color: #004182;
      border-color: #004182;
      //cursor: not-allowed;
      //width: 100%;
    }

  }

}
