.EventNotePrimaryFilter {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-left: 15px;
}

.EventNotePrimaryFilter-Field {
  max-width: 420px;

  .MultiSelect-SelectedText {
    color: #0064ad;
    font-weight: 600;
    font-size: 14px;
  }

  .MultiSelect-SelectedTextOnExpand {
    color: #0064ad;
    font-weight: 600;
    font-size: 14px;
  }

  .MultiSelect-ToggleChevron {
    fill: #0064ad;
  }
}

.EventNotePrimaryFilter-Field_frozen {
  pointer-events: none;
}