@import "custom/_fonts";
@import "custom/_page";

.Assessments {
  @include page;


  &-Header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &-Title {
    flex: 1;
    padding-bottom: 10px;
    margin-right: 20px;
  }

  &-Actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
  }

  &-TitleText {
    position: relative;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    color: $font-color_head-text;
    font-family: "Open Sans Semibold", sans-serif;
  }

  &-ClientName {
    font-weight: normal;
    font-size: 20px;
    color: $font-color_head-text;
    font-family: "Open Sans", sans-serif;
  }

  &-Count {
    &.badge {
      color: #ffffff;
      font-size: 12px;
    }

    position: relative;
    left: 5px;
    top: -13px;
  }

  &-Filter {
    margin-top: 5px;
  }

  &-Action {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.AssessmentListContainer {
  margin-top: 22px;
}

.AssessmentList {
  &-Caption {
    padding-bottom: 10px;
  }

  &-DateStartedCol {
    @media only screen and (max-width: 1129px) {
      width: 120px;
    }
  }

  &-DateCompletedCol {
    @media only screen and (max-width: 1129px) {
      width: 145px;
    }
  }

  &-ActionCol {
    @media only screen and (max-width: 1229px) {
      width: 135px;
    }

    @media only screen and (min-width: 1230px) {
      width: 220px;
    }
  }

  &-Actions {
    @media only screen and (max-width: 1229px) {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
    }
  }

  &-AssessmentName {
    color: #0064ad;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;

    &:hover {
      color: #0064ad;
    }
  }

  &-AssessmentStatus {
    color: $font-color_head-text;
    font-size: 14px;
    padding: 0 8px;
    border-radius: 2px;
  }

  &-ActionBtn {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &_disabled {
      cursor: default;

      & svg:hover {
        background-color: unset;
        border: none;
        transition: 0.2s;
        fill: #c0c2c4;
        stroke: none;
      }
    }
  }
}

.AddAssessmentBtn-OptText {
  @media (max-width: 739px) {
    display: none;
  }
}

.AddAssessmentBtn {
  height: 35px;

  &.btn {
    padding: 0 15px;
  }
}

.ClientList-Header-AssessmentName {
  @media (min-width: 1024px) {
    width: 20%;
  }
}

.OptionPicker {
  &-tooltip-inner {
    background-color: #ffffff;
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    padding: 10px 0;
    box-sizing: content-box;
    z-index: 1;
    max-width: 100%;
  }

  &-Item {
    white-space: nowrap;
    text-align: left;
    font-size: 13px;
    color: $font-color_head-text;
    font-family: "Open Sans Semibold", sans-serif;
    padding: 5px 15px;

    &:hover {
      background-color: #e8e8e8;
      cursor: pointer;
    }
  }
}

@mixin createOptionPickers($names) {
  @each $name in $names {
    .#{$name} {
      .tooltip-inner {
        @extend .OptionPicker-tooltip-inner;
      }

      &-Item {
        @extend .OptionPicker-Item;
      }
    }
  }
}

$optionPickersNames: DownloadOptionPicker, AddOptionPicker;

@include createOptionPickers($optionPickersNames);

.AddOptionPicker {
  & > .tooltip {
    left: -30px !important;
  }
}
