@import "custom/_fonts";

.Chart {
  display: inline-block;
  margin-left: 200px;

  .recharts-legend-item {
    margin-top: 30px;

    .recharts-legend-item-text {
      color: $font-color_head-text !important;
      font-size: $font-size_chart-legend-text;
      margin-left: 12px;
      font-family: "Open Sans", sans-serif;
    }
  }

  .recharts-legend-item:first-child {
    margin-top: 0;
  }
}

.Chart-Title {
  font-size: 22px;
  font-weight: bold;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.Chart:first-child {
  margin-left: 0;
}