.ScrollTopBtn {
    position: absolute;
    right: 40px;
    bottom: 80px;
    z-index: 2;
}

.ScrollTopBtn-Icon {
    cursor: pointer;
    fill: #898989;
    height: 32px;
    width: 32px;
    background-color: #f9f9f9;
    padding: 6px;
}