@import "custom/_page";

.AuditLogs {
  @include page;

  &-Header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 5px;

    &Item {
      margin-right: 20px;
      padding-bottom: 10px;

      &:first-child {
        flex: 1
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}