@import "custom/_fonts";

.Conversation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &-Header {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        margin-left: 24px;
        margin-right: 20px;
        max-width: 730px;
        border-bottom: 1px solid #e0e0e0;

        @media (max-width: 1024px) {
            margin-left: 0;
            margin-right: 0;
            padding: 22px 16px 10px 12px;
        }

        @media (max-width: 500px) {
            padding: 8px 16px 8px 8px;
        }
    }

    &-BackArrow {
        display: none;

        @media (max-width: 667px) {
            display: block;
            padding-right: 20px;
        }
    }

    &-Avatar {
        width: 44px;
        height: 44px;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &-Participants {
        min-width: 0;
        position: relative;
        line-height: normal;
        margin-left: 16px;
        margin-right: 10px;

        @media (max-width: 1024px) {
            margin: 0;
        }
    }

    &-ParticipantNames {
        flex: 1;
        color: $font-color_head-text;
        font-size: 20px;
        font-family: "Open Sans Semibold", sans-serif;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media (max-width: 1024px) {
            font-size: 16px;
        }

        @media (max-width: 667px) {
            font-size: 14px;
        }
    }

    &-ParticipantCount {
        color: #0064ad;
        font-size: 13px;
        cursor: pointer;
        display: inline-block;
        font-family: "Open Sans Semibold", sans-serif;
    }

    &-Status {
        font-size: 13px;
        color: #898989;
    }

    &-Actions {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    &-Action {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        &_disabled {
            cursor: default;
            pointer-events: none;

            svg {
                cursor: default;
                fill: #898989;
            }
        }

        &.IconButton {
            border-radius: 20px;
            background-color: #e6edee;

            svg {
                padding: 8px;
                box-sizing: content-box;
            }

            &_disabled {
                cursor: default;

                svg {
                    cursor: default;
                }
            }
        }
    }

    &-MessagesLoader {
        position: absolute;
        top: 80px;
        width: 100%;
    }

    &-History {
        height: 100%;
        overflow-y: auto;
        padding: 6px 12px 40px 24px;
    }

    &-HistoryItem {
        display: flex;
        flex-direction: column;

        & + & {
            margin-top: 4px;
        }
    }

    &-DateSeparator {
        padding: 32px 0;

        @media (max-width: 1024px) {
            padding: 24px 0;
        }

        &_first {
            padding-top: 0;
        }
    }

    &-Message {
        width: calc(100% - 50px);
        display: flex;
        justify-content: flex-start;

        .Message-Bubble {
            border-radius: 0 10px 10px 10px;
        }

        &_disabled {
            cursor: default;
            pointer-events: none;
        }

        &_align {
            &_left {
                width: calc(100% - 50px);
                justify-content: flex-start;
            }

            &_right {
                width: 100%;
                justify-content: flex-end;

                .Message-Bubble {
                    border-radius: 10px 0 10px 10px;
                }
            }

            &_center {
                width: 100%;
                justify-content: center;
            }
        }

        .FilePreview-Name {
            white-space: normal;
        }

        .FilePreview-Body {
            align-items: flex-start;
        }

        .FilePreview-Icon {
            margin-top: 3px;
        }
    }

    &-ScrollBottomBtn {
        position: absolute;
        bottom: 78px;
        right: 56px;
        transform: rotate(0.5turn);
        box-shadow: -2px -2px 10px 0 rgba(0, 0, 0, 0.25);
        border-radius: 2px;

        @media (max-width: 1024px) {
            bottom: 82px;
            right: 16px;
        }
    }

    &-MessageInput {
        max-height: calc(100% - 60px);
    }

    &-ModalActionPicker {
        max-width: 300px;

        @media (max-width: 667px) {
            max-width: 100%;
        }
    }
}

.ConversationManagementPopup {
    left: 0;
    top: 60px;
    z-index: 2;
    max-height: 500px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.ConversationManagementModal {
    position: relative;
    max-width: initial;
    display: flex;
    justify-content: center;
    max-height: 100%;

    @media (max-width: 667px) {
        flex: 1;
        margin: 0;
    }

    &-Container {
        @media (max-width: 667px) {
            display: flex !important;
            align-items: flex-end;
        }
    }

    &_fade {
        animation: fade 500ms ease-in;

        @keyframes fade {
            from {
                top: 100%;
            }

            to {
                top: 0;
            }
        }
    }

    .modal-content {
        padding: 60px 0 8px;
        border: none;
        border-radius: 10px;
        width: auto;
        min-width: 320px;

        @media (max-width: 667px) {
            width: 100%;
            border-radius: 10px 10px 0 0;
        }
    }

    &-CloseButton {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;

        g {
            fill: #0064ad;
        }
    }

    &-Participants {
        margin-bottom: 16px;
        overflow-y: auto;
    }

    &-Participant {
        display: flex;
        align-items: center;
        padding: 8px 32px;

        &:hover {
            background-color: #f9f9f9;

            .ConversationManagementModal-DeleteParticipantAction {
                display: block;
                visibility: visible;

                &__disconnected {
                    opacity: 0.5;
                }
            }
        }

        @media (max-width: 667px) {
            padding: 8px 30px;
        }
    }

    &-ParticipantAvatar {
        width: 40px;
        height: 40px;
    }

    &-ParticipantName {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }

    &-DeleteParticipantAction {
        color: #0064ad;
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 14px;
        visibility: hidden;
    }

    &-Footer {
        padding: 24px 32px;
        border-top: 1px solid #e0e0e0;
    }

    &-LeaveAction {
        width: 100%;

        &__disconnected {
            cursor: pointer;
            opacity: 0.5;
        }
    }
}

.ConversationManagement {
    &.popover-body {
        padding: 0;
    }

    &-Participants {
        padding: 10px 0;
    }

    &-Participant {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 16px;
        color: $font-color_head-text;
        font-size: 16px;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background-color: #f9f9f9;

            .ConversationManagement-DeleteParticipantAction {
                display: block;

                &__disconnected {
                    opacity: 0.5;
                }
            }
        }

        &_disabled {
            opacity: 0.5;
        }

        &Avatar {
            width: 50px;
            height: 50px;
        }
    }

    &-DeleteParticipantAction {
        top: 3px;
        right: 0;
        width: 16px;
        height: 16px;
        position: absolute;
        display: none;
    }

    &-LeaveAction {
        &:active {
            background-color: #f9f9f9;
        }

        color: #0064ad;
        padding: 20px 16px;
        font-size: 16px;
        cursor: pointer;
        border-top: 1px solid #e0e0e0;
        font-family: "Open Sans Semibold", sans-serif;

        &__disconnected {
            cursor: pointer;
            opacity: 0.5;

            &:active {
                background-color: unset;
            }
        }
    }
}
