@import "custom/_fonts";

.member-change-content {
  @media (min-width: 576px) {
    &.modal-dialog {
      max-width: 1100px;
    }
  }
}

.MemberList-FullNameHeader {
}

.MemberList-Avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;

  @media (max-width: 414px) {
    display: none !important;
  }
}

.MemberList-ContactName {
  color: #075aa0;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.MemberList-MemberRelation {
  color: #898989;
  font-size: 15px;
}

.member-no-select-radio {
  width: 26px;
  height: 26px;
  margin-right: 23px;
  appearance: none;
  border-radius: 50%;
  border: 1px solid #999;
  transition: 0.2s all linear;
  cursor: pointer;
}

.member-select-radio {
  width: 26px;
  height: 26px;
  margin-right: 23px;
  appearance: none;
  border-radius: 50%;
  border: 1px solid #999999;
  transition: 0.2s all linear;
  cursor: pointer;
}

//input:checked {
//  padding: 6px;
//  box-sizing: border-box;
//  color: #075AA0;
//}
.member-select-radio::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #075aa0;
  margin-left: calc(50% - 5px);
  margin-top: calc(50% - 5px);
}

.global-member-table {
  font-size: 14px;
  color: #4c4e51;
  font-family: Poppins, sans-serif;
}

.table-item-width {
  width: 280px;
}

.table-item-width-180 {
  width: 180px;
}

.table-item-width-220 {
  width: 220px;
}

.row-cursor {
  cursor: pointer;
}
