.IncidentPicturePreview {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  padding-bottom: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .IncidentPicturePreview-ZoomIn {
      display: inherit;
    }
  }
}

.IncidentPicturePreview-ZoomIn {
  top: calc(50% - 15px);
  right: calc(50% - 15px);
  position: absolute;
  fill: #ffffff;
  width: 30px;
  height: 30px;
  display: none;
}

.IncidentPictureViewer {
  @media (min-width: 576px) {
    &.Modal.modal-dialog {
      max-width: 1040px;
    }
  }

  .modal-content {

    .modal-body {
      padding: 5px;
      overflow-x: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

.IncidentPicture {
  max-width: 100%;
}