@import "custom/_fonts";

.ActionButtonList {
  padding: 0;
  position: relative;

  &.form-control {
    height: 35px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    font-size: 14px;
  }
}

.ActionButtonList-Toggle {
  display: flex;
  background: transparent;
  width: 100%;
  height: 100%;
  border: 0;
  cursor: pointer;
  text-align: right;
  justify-content: space-between;
  border-radius: 2px;
}

.ActionButtonList-ToggleText {
  color: #0064ad;
  font-size: $font-size_multi-select-value;
  font-weight: 600;
  margin-left: 10px;
}

.ActionButtonList-ToggleChevron {
  width: 10px;
  height: 10px;
  fill: #0064ad;
  margin-top: 7px;
  margin-right: 5px;
  margin-left: 8px;
}

.ActionButtonList-Options {
  display: flex;
  top: 50px;
  left: 0;
  width: 214px;
  flex-direction: column;
  background: white;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.ActionButtonList_collapsed {
  .ActionButtonList-Options {
    display: none;
  }
}

.ActionButtonList-Option {
  padding: 10px;

  &:hover {
    cursor: pointer;
  }
}

.Option {
  &:active {
    color: #0064ad;
  }

  &:hover {
    cursor: pointer;
    background-color: #f9f9f9;
    border: 1px #bfbdbd;
  }
}

.Option-OptionText {
  margin-left: 16px;
  margin-top: 14px;
  font-size: $font-size_multi-select-value;
  font-weight: 600;
  color: $font-color_head-text;
}

.ActionButtonList_expanded {
}

.Option-Separator {
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 15px;
  border-top: 2px dotted #bfbdbd;
}
