.DatePicker {
  z-index: 2;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  &-SelectedDate {
    color: #222222;
    font-size: 20px;
    font-family: "Open Sans Semibold", sans-serif;

    &:hover {
      cursor: pointer;
    }
  }

  &-Icon {
    margin-left: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .react-datepicker {
    border-radius: 2px;
    border-color: #dfdfdf;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);

    &__triangle::after {
      border-bottom-color: #ffffff;
    }

    &__header {
      padding: 0;
      background-color: #ffffff;
      border-bottom: 1px solid #e0e0e0;
    }

    .react-datepicker-year-header {
      padding: 10px 5px;
    }

    .DatePicker-Header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 16px 24px;
    }

    .DatePicker-NavLeft {
      cursor: pointer;
    }

    .DatePicker-Title {
      color: #222222;
      font-size: 20px;
      word-wrap: normal;
      padding: 0 25px;
      font-family: "Open Sans Semibold", sans-serif;
    }

    .DatePicker-Month {
      cursor: pointer;
      display: inline-block;
    }

    .DatePicker-Year {
      cursor: pointer;
      display: inline-block;
    }

    .DatePicker-NavRight {
      cursor: pointer;
    }

    &__day {
      &-names {
        margin: 0;
        padding: 0 14px;
      }

      &-name {
        color: #2493e5;
        font-size: 13px;
        font-family: "Open Sans Semibold", sans-serif;
        line-height: normal;
        margin: 7px 10px;
      }

      &--in-range {
        color: #ffffff;
        font-weight: normal;
        background-color: #2493e5;

        &.react-datepicker__day--today {
          color: #222222;
          font-weight: normal;
          background-color: #cfcfcf;
        }
      }
    }

    &__day,
    &__year-text,
    &__month-text {
      margin: 8px 10px;
      color: #222222;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      border-radius: 2px;

      &--outside-month {
        color: #929292;
      }

      &--today {
        color: #222222;
        font-weight: normal;
        background-color: #cfcfcf;
      }

      &--selected {
        color: #ffffff;
        font-weight: normal;
        background-color: #2493e5;
      }

      &--keyboard-selected {
        color: #ffffff;
        font-weight: normal;
        background-color: #2493e5;

        &:hover {
          color: #ffffff;
          background-color: #2493e5;
        }
      }
    }

    &__day--in-range {
      color: #ffffff;
    }

    &__year-wrapper {
      min-width: 253px;
      justify-content: center;
    }

    &__year-text,
    &__month-text {
      width: 2.7rem;
      line-height: 2rem;
      margin: 8px 18px;
    }

    &__year-text {
      margin: 8px 20px;
    }
  }
}