.DayView {
  &-Header {
    top: 44px;
    z-index: 1;
    position: sticky;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
  }

  &-Day {
    color: #222222;
    font-size: 13px;
    font-family: "Open Sans Semibold", sans-serif;
  }

  &-Body {
    position: relative;
  }
}