.SendInquiryModal {
  max-width: 680px;
  height: auto;

  .SendInquiryModal-ReferralRequestForm-Buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dee2e6;
    padding: 20px 25px 0;

    .btn {
      padding: 0;
      width: 100px;
      height: 35px;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

