.insurance-filter .dropdown-menu ol, .dropdown-menu li {
    list-style-type: none;
    list-style-position:inside;
    margin: 0;
    padding: 0;
}

.insurance-filter  .dropdown-menu {
    width: 552px;
    padding: 15px;
}

.insurance-filter  .dropdown-menu .tab-content  {
    height: 400px;
    overflow-y: auto;
}

ul.ui-menu {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.insurance-filter  .dropdown-menu, .insurance-filter  .dropdown-menu ul {
    background-color: #F4F2ED;
}

.insurance-filter  .dropdown-menu * {
    background-color: white;
}

.insurance-filter  .dropdown-selected-plan {
    width: 400px;
    position: absolute;
    background-color: white;
    z-index: 100;
}

.insurance-filter  .dropdown-menu, .insurance-filter  .dropdown-selected-plan {
    font-size: 16px !important;
}

.insurance-filter  .dropdown-menu hr {
    padding: 0;
    margin: 5px;
}

.insurance-filter  .dropdown-menu .wizard-heading1 {
    font-weight: bold;
    color: #464F81;
    font-size: 14px;
    padding-top: 5px !important;
    padding-bottom: 15px !important;
}

.insurance-filter  .dropdown-menu div, .dropdown-menu ol li, .insurance-filter  .dropdown-selected-plan div {
    padding-left: 5px;
    padding-right: 5px;
}

.insurance-filter  .dropdown-menu .selected-carrier-container {
    padding-top: 10px !important;
}

.insurance-filter  .selected-carrier-container, .insurance-filter  .wizard-heading1, .plan-option, .carrier-option {
    padding-bottom: 1px !important;
    padding-top: 1px !important;
}

.plan-option, .carrier-option {
    color: #151515;
}

.insurance-filter  .choose-different-insurance {
    color: #009288;
}

.insurance-filter  .hover-option {
    cursor: pointer;
}

.insurance-filter  .selected-carrier-id {
    font-weight: normal;
}

.float-right {
    float: right;
}

.carrier-plans-li-container {
    padding: 0 !important;
}

.nav-tabs {
    border-bottom: 0px;
}