@import "custom/_fonts";

.ClientAssessmentsSummary {}

.ClientAssessmentsSummary-Title {
  position: relative;
  margin-bottom: 18px;
}

.ClientAssessmentsSummary-TitleText {
  margin-right: 6px;
  font-size: 22px;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientAssessmentsSummary-Body {
  padding: 24px 20px;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);

  @media (min-width: 850px) {
    display: flex;
  }
}

.ClientAssessmentsSummary-Chart {
  flex: 1;

  @media (min-width: 850px) {
    width: 50%;
  }
}

.ClientAssessmentsSummary-AssessmentCount {
  &.badge {
    color: #ffffff;
    font-size: 12px;
    border-radius: 2px;
    padding: 4px 11px;
  }

  position: absolute;
  top: 0;
}
