.replyBox {
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 100vh;
}

.replyHeader {
  height: 84px;
  background-color: #fff;

  img {
    height: 28px;
  }
}

.replyHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.replySignIn {
  width: 78px;
  height: 36px;
  border-radius: 4px;
  background-color: #0064AD;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.replyContent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 70px;


  .replyContentBox {
    width: 640px;
    height: 428px;

    img {
      width: 328px;
      height: 195px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;

    border-top: 8px solid #075AA0 ;
    box-shadow: 0 6px 6px 0 #00000026;
    border-radius: 8px;


    .title {
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
      text-align: center;
      color: #4C4E51;
    }

    .secTitle {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
      color: #4C4E51;
    }

  }
}