.CommunityHandsets {
  flex: 1;
  padding: 20px 30px;
  position: relative;
}

.CommunityHandsetList {

}

.CommunityHandsetListContainer {
  margin-top: 30px;
}

.CommunityHandsetList-Caption {
  display: flex;
  justify-content: space-between;
}

.CommunityHandsetList-Title {
  position: relative;
  display: inline-block;
}

.CommunityHandsetList-CommunityHandsetCount {
  &.badge {
    color: #ffffff;
    font-size: 12px;
  }

  position: absolute;
  left: 125px;
  top: 3px;
}

.CommunityHandsetList-Filter {
  margin-top: 20px;
}

.CommunityHandsetList-FilterField {
  max-width: 400px;
}

.CommunityHandsetList-FilterFieldIcon {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 24px;
  height: 24px;
  fill: #4C4E51;
}

.AddCommunityHandsetBtn {
  margin-top: 10px;
  font-weight: bold;
}

.CommunityHandsetList-CommunityHandsetName {
  color: #0064ad;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #0064ad;
  }
}