@import "custom/_fonts";

.SelectSection {
  border-left: 8px solid;
  margin-top: 24px;
}

.SelectSection-Title {
  font-size: 16px;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
  margin-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.SelectSection-Item {
  &:last-child {

    padding-bottom: 12px;
    margin-bottom: 0;
  }

  display: flex;
  cursor: pointer;
  padding: 5px 16px 5px 16px;
  font-size: 14px;
  margin-bottom: 12px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: $font-color_head-text;
  font-family: "Open Sans", sans-serif;
}

.SelectSection-CheckMark {
  width: 9px;
  margin-left: 12px;
  height: 15px;
  border: solid #0064ad;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}