@import "custom/_fonts";

.NotificationPreference {
  margin-bottom: 5px;

  &-Title {
    font-size: 14px;
    color: $font-color_head-text;
  }

  &-SelectLabelIcon {
    margin-left: 5px;
    display: inline-block;

    &:hover {
      cursor: pointer;
    }
  }
}

.ResponsibilityInfoHint {
  .tooltip-inner {
    padding: 0;
    max-width: inherit;
    border: none !important;
    box-shadow: none !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.NotificationPreference-Title {
  display: flex;
  //justify-content: start;
  align-items: center;

  position: relative;
  bottom: 10px;

  gap: 20px;

  .missedAlerts {
    color: #0064AD;
    cursor: pointer;
  }

}

.missedAlertsPopover {
  border: 1px solid #E0E0E0;

  .popover {
    width: 291px;
    //height: 106px;
    padding: 10px;
  }

  .popoverBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .popover-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


  .missedAlertsTitle {
    color: #222222;
    line-height: 18px;
    font-weight: 600;
    font-size: 14px;
  }

  .missedAlertsRatioTitle {
    color: #4C4E51;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    top: 10px;

    span {
      color: red;
    }
  }

  .missedAlertsRatioBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .css-ttgsjq-MuiSlider-track {
      background-color: #00ACE6;
      border-color: #00ACE6;
      height: 6px;
    }

    .css-7o8aqz-MuiSlider-rail {
      height: 6px;
    }

    .css-7o8aqz-MuiSlider-rail {
      background-color: #E7E8EA;
    }

    .css-cp2j25-MuiSlider-thumb {
      background-color: #fff;
      border: 2px solid #00ACE6;
      width: 14px;
      height: 14px;
    }

    .missedAlertsRatioBoxText {
      color: #00ACE6;
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;
    }
  }

  .thresholdWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .thresholdWrapLeft {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .thresholdTitle {
      color: #4C4E51;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .missedAlertsSmailTitle {
    color: #4C4E51;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;

    span {
      color: #F33232;
      padding-left: 5px;
    }
  }

  .alertsButton {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-top: 8px;

    div {
      width: 83px;
      height: 36px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    div:first-child {
      border: 1px solid #075AA0;
      color: #075AA0;
    }

    div:last-child {
      background-color: #075AA0;
      color: #fff;
    }
  }

}