@import "custom/_fonts";

.IncidentReportForm {
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;

  .RadioGroupField {
    margin-top: 16px;
  }

  .RadioGroupField-Error {
    bottom: -4px;
  }

  .DateField-CalendarIcon {
    top: 42px;
  }

  .DateField-Error {
    position: static;
    margin-top: 2px;
  }

  .EventNotifications {
    padding: 0;
    padding-top: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
  }
}

.IncidentReportForm-Section {
  padding: 20px 40px 20px;
}

.IncidentReportForm-SectionTitle {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Open Sans Semibold", sans-serif;

  &_withButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.IncidentReportForm-SectionSubTitle {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Open Sans Semibold", sans-serif;
}

.IncidentReportForm-TextArea {
  .TextField-Input {
    height: 80px;
  }
}

.IncidentReportForm-Button {
  width: 100px;
  height: 35px;
  margin-top: 30px;

  &.btn {
    padding: 0;
  }
}

.IncidentReportForm-FilterFieldIcon {
  top: 45px;
  right: 10px;
  width: 24px;
  height: 24px;
  fill: #4c4e51;
  position: absolute;
}

.IncidentReportForm-LabelIcon {
  margin-bottom: 4px;
  margin-left: 4px;
}

.IncidentReportForm-Buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0 2rem 0;
  border-top: 1px solid #dee2e6;

  .btn {
    padding: 0;
    width: 100px;
    height: 35px;
    margin-right: 24px;
  }
}

.IncidentReportForm-CheckboxField {
  &.form-group {
    margin-bottom: 20px;
  }

  .CheckboxField-Error {
    left: 0;
  }
}

.IncidentReportForm-RadioGroupField {
  margin-bottom: 0;

  .Radio {
    padding-left: 40px;
    margin-right: 25px;
    margin-bottom: 20px;
  }

  &.is-invalid {
    background: transparent;
  }
}

.IncidentReportForm-FieldTitle {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: "Open Sans Semibold", sans-serif;
}

.IncidentReportForm-CodeField {
  &.CodeField {
    margin-bottom: 20px;
  }

  .CodeField-Container {
    display: block;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    font-size: 14px;
    color: $font-color_head-text;
  }
}

.IncidentReportForm-CrossIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;

  g {
    stroke: #0064ad;

    &:hover {
      stroke: #235c65;
    }
  }
}

.IncidentReportForm-CloseIcon {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 12;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.IncidentReportForm-LevelSubSection {
  position: relative;
  padding-left: 30px;
  margin-bottom: 50px;
}

.IncidentReportForm-DecoratedLeftBorder {
  position: absolute;
  top: 18px;
  bottom: 22px;
  left: 0;
  width: 2px;
  background-color: #bfbdbd;
}

.IncidentReportForm-BigCircle {
  position: absolute;
  left: -5px;
  top: -5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bfbdbd;
}

.IncidentReportForm-SmallCircle {
  position: absolute;
  bottom: -3px;
  left: -3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #bfbdbd;
}

.IncidentReportForm-SubEvents {
  padding-left: 42px;
}

.IncidentReportForm-NotificationRow {
  .CheckboxField.form-group {
    padding-top: 26px;
  }

  .DateField-Error  {
    position: absolute;
    margin-top: initial;
  }
}

.IncidentReportForm-TextField {
  &_size {
    &_big {
      .TextField-Input.form-control {
        height: 150px;
      }
    }
  }
}

.IncidentReportForm-NotificationRow-CheckboxCol {
  .CheckboxField-Label {
    font-weight: bold;
  }
}

.IncidentReport-BodyDiagram {
  &.isDisabled {
    opacity: 0.7;
  }
}
