.OrganizationCategoryList {
  &-Category {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 11px;

    &Indicator {
      width: 8px;
      height: 8px;
      margin-right: 4px;
    }

    &Name {
      font-size: 12px;
    }
  }

  &-Action {
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }
  }
}