@import "custom/_fonts";
@import 'custom/_page';

.ClientRecords {
  @include page;
  height: auto;

  &-Header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
  }
}



.ClientRecords-HeaderItem {
  margin-right: 20px;
  padding-bottom: 10px;

  &:first-child {
    flex: 1
  }

  &:last-child {
    margin-right: 0;
  }
}

.ClientRecords-Title {
  white-space: nowrap;
  position: relative;
}

.ClientRecords-TitleText {
  display: inline-block;
  font-size: 26px;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientRecords-Actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}