.TableMobile {
    th[data-row-selection] {
        width: 4rem;

        @media (max-width: 667px) {
            width: 3rem;
        }

        @media (max-width: 375px) {
            width: 2rem;
        }
    }

    &.table.Table {
        .reset-expansion-style,
        .row-expansion-style {
            padding: 0;
        }
    }
}

.TableMobile-Details {
    display: flex;
    padding-left: 2rem;

    @media (max-width: 375px) {
        padding-left: 12px;
    }
}

.TableMobile-Details-List {
    flex: 1 1 auto;
}

.TableMobile-Expander {
    width: 9px;
    height: 9px;
    fill: #0064ad;

    &.Opened {
        transform: rotate(180deg);
    }
}

.TableMobile-Detail {
    &-Title {
        padding-right: 3rem;
    }
}

.TableMobile-Actions {
    margin: 30px 1.6rem 30px 0;

    @media (max-width: 667px) {
        margin-right: 0.6rem;
    }

    @media (max-width: 375px) {
        margin-right: 0;
    }

    .Actions {
        flex-direction: column;

        svg:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}