@import "custom/_fonts";

.ClientUpcomingAppointments {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ClientUpcomingAppointments-Status {
  height: 22px;
  color: $font-color_head-text;
  padding: 0 8px;
  border-radius: 2px;
}

.ClientUpcomingAppointments-Date {
  font-size: 18px;
}

.ClientUpcomingAppointments-NumberSequence {
  &:after {
    content: '';
    top: 25px;
    left: 11px;
    position: absolute;
    height: 85px;
    width: 3px;
    background-color: #03b6f3;
  }

  width: 26px;
  left: 0;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  height: 26px;
  background-color: #03b6f3;
  border-radius: 50%;
}

.ClientUpcomingAppointmentList {
  &.Table.table tbody tr {
    td {
      &:first-child {
        padding-left: 5px;
        padding-right: 5px;
      }

      padding-top: 34px;
    }

    &:nth-of-type(even) {
      background-color: #ffffff;
    }

    &:last-child .ClientUpcomingAppointments-NumberSequence:after {
      display: none;
    }
  }
  caption {
    padding: 0;
  }
}

.ClientUpcomingAppointmentList-Title {
  display: flex;
  font-size: 22px;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
  align-items: flex-end;
}

.ClientUpcomingAppointments-Location {
  font-weight: 600;
  color: $font-color_head-text;
}

.ClientUpcomingAppointments-ViewAllBtn {

}
  
  
  