.Directory {
  &.modal-dialog {
    max-width: 1040px;
  }

  .modal-content {
    border: none;
  }

  &-SuccessDialog {
    .Dialog-Text {
      text-align: center;
    }
  }

  &-Body {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &-Section {
    flex: 1;
    overflow-y: auto;
    padding: 20px 25px 20px;
  }

  &-Actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dee2e6;
    padding: 20px 25px 40px;
  }

  &-Action {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    &.btn {
      padding: 0;
      width: 100px;
      height: 35px;
    }
  }
}
