@import "custom/_fonts.scss";

.MedicationDetail {
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
}

.MedicationDetail-Title {
  flex: 1;
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans Semibold", sans-serif;
}


.MedicationDetail-Value {
  flex: 4;
  display: flex;
  justify-content: left;
  font-size: 15px;
  color: $font-color_head-text;
}

.MedicationSubDetail {
  &:last-child {
    margin-bottom: 0;
  }

  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.MedicationSubDetail-Title {
  text-transform: uppercase;
  color: #898989;
  font-size: 11px;
  font-family: "Open Sans Semibold", sans-serif;
}

.MedicationSubDetail-Value {
  color: $font-color_head-text;
}

.MedicationDetail-Status {
  color: $font-color_head-text;
  font-size: 14px;
  padding: 0 8px;
  display: inline-block;
  border-radius: 2px;
}

.MedicationDetails-ScrollTopBtn {
  position: fixed;
}