.ClientDocumentDirectory {
  &-Filter.DocumentFilter {
    flex: 1;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
  }

  &-List {
    .DocumentList-Caption {
      display: flex;
      flex-direction: row;
      flex: 1;
    }

    @media (min-width: 1550px) {
      .DocumentList-CategoryCol {
        width: 20%;
      }
    }

    @media (min-width: 1300px) {
      .DocumentList-CategoryCol {
        width: 15%;
      }
    }

    .DocumentList-CreatedCol {
      width: 12%;
    }
  }
}
