.OldPasswordForm {
  width: 385px;
  margin-top: 25px;
}

.OldPasswordForm-TextField {
  &.form-group.TextField {
    margin-bottom: 25px;
  }
}

.OldPassword-Text {
  margin-bottom: 5px;
  font-size: 12px;
  color:  #333333;
}

.OldPassword-Detail {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.OldPassword-DetailIcon {
  fill: #03b6f3;
  flex: none;
}

.OldPassword-DetailText {
  font-size: 12px;
  margin-left: 10px;
  color:  #333333;
}

.OldPasswordForm-Btn {
  &.btn {
    padding: 0;
  }

  margin-right: 30px;
  width: 100px;
  height: 35px;
}