.PaperlessHealthcare {
  flex: 1;
  padding: 0 10px;

  @media (min-width: 450px) {
    padding: 0 15px;
  }

  @media (min-width: 550px) {
    padding: 0 35px;
  }

  &-Header {
    padding: 32px 10px 12px;

    &Segment {
      max-width: 1210px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-Title {
    font-size: 26px;
    color: #7a7475;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    white-space: nowrap;
  }

  &-OrganizationLogo {
    height: 40px;
  }

  &-Advantages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    padding: 20px 70px;
    min-width: 180px;
    background-color: #878787;
    font-family: "Open Sans Semibold", sans-serif;
    margin-right: 20px;

    ul { padding: 0; margin: 0 }
  }

  &-Description {
    font-size: 16px;
    font-family: "Century Gothic", sans-serif;
    max-width: 1000px;
  }

  &-Sections {
    display: flex;
    flex-direction: row;
  }

  &-Section {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}