@import 'custom/_mixins';

.SectionTile {
  max-width: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid #00ace6;

  @media (min-width: 665px) {
    max-width: 185px;
  }

  &:hover {
    filter: brightness(95%);
  }

  &:active {
    opacity: 0.9;
  }

  &-Image {
    max-height: 217px;
    position: relative;
    @include clear-image;

    &:hover {
      background-color: rgba(9, 9, 9, 0.1);
    }
  }

  &-Icon {
    z-index: 2;
  }

  &-Title {
    min-height: 60px;
    color: #ffffff;
    padding: 3px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    background-color: #00ace6;
    font-size: 14px;
    line-height: 1.29;
    font-family: Poppins Semibold, sans-serif;

    &Icon {
      width: 30px;
      min-width: 30px;
    }
  }
}