@import "custom/_fonts";

.ServicePlanViewer {
  &.modal-dialog {
    max-width: 1040px;
  }

  &.modal-body {
    padding-bottom: 100px;
  }

  .ServicePlanScoring {
    margin-top: 10px;
  }

  &-CheckboxField {
    &.form-group {
      margin-bottom: 20px;
    }

    .CheckboxField-Label {
      margin-top: 3px;
    }
  }
}

.ServicePlanViewer-Section, .ServicePlanChangeHistoryContainer {
  padding: 20px 40px 0;
}

.ServicePlanViewer-SectionTitle {
  &:first-child {
    margin-top: 20px;
  }

  font-size: 26px;
  font-weight: bold;
  color: $font-color_head-text;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: "Open Sans Semibold", sans-serif;
}

.ServicePlanChangeHistory {
  &.Table.table {
    caption {
      padding-top: 0;
    }
  }
}

.ServicePlanChangeHistory-Caption {
  padding-bottom: 30px;
}

.ServicePlanChangeHistory-Title {
  font-size: 26px;
  font-weight: bold;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.ServicePlanChangeHistory-ViewDetailsBtn {
  color: #0064ad;
  text-decoration: none;
  padding-left: 0 !important;

  &:hover{
    text-decoration: none;
    color: #0064ad;
  }
}

.ServicePlanViewer-Button {
  &.btn {
    padding: 0;
  }

  width: 100px;
  height: 35px;
  margin-top: 30px;
}

.ServicePlanViewer-TabsContainer {
  margin-top: 20px;
}

.ServicePlanViewer-FilterFieldIcon {
  top: 45px;
  right: 10px;
  width: 24px;
  height: 24px;
  fill: #4C4E51;
  position: absolute;
}

.ServicePlanViewer-Actions {
  .delete {
    fill: #0064ad;
  }

  float: right;
}

.ServicePlanViewer-Anchors {
  font-size: 14px;
  font-weight: 600;
  color: #0064ad;
  margin-right: 32px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #0064ad;
  }
}

.AddBtn {
  &.btn {
    padding: 0;
  }

  margin-top: 7px;
  width: 105px;
  height: 35px;
}

.DeleteBtn {
  &:hover {
    background-color: #0064ad;
    border-radius: 3px;
    transition: 0.2s;
    fill: white;
    stroke: white;
    cursor: pointer;
  }

  width: 36px;
  height: 36px;
  padding: 6px;
}

.ServicePlanViewer-SectionHeader {
  display: flex;
  justify-content: space-between;
}

.ServicePlanViewer-Scoring__ActivationTable {
  &.Table.table {
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 0;

    thead .Table-Header {
      vertical-align: top;
    }

    tbody tr td {
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      padding: 21px 17px;
      vertical-align: top;
      font-size: 14px;
    }

    caption {
      display: none;
    }

    th {
      font-size: 14px;
      background-color: #f6f6f6;
      color: $font-color_head-text;
      height: 78px;
    }
  }
}