
.servicePlanViewSignatureBox {
  padding: 0 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .servicePlanViewSignature {
    display: flex;
    flex-direction: column;

    border: 1px solid #ccc;

    div:first-child {
      font-weight: bolder;
      font-size: 24px;
      color: #000;
    }
  }
}