@import "custom/_common.scss";

.Footer {
  padding: 15px 40px;

  &_theme_black {
    background-color: #4C4E51;

    .Footer-Copyright {
      color: #BFBDBD;
    }
  }

  &_theme_gray {
    background-color: #f9f9f9;

    .Footer-Copyright {
      color: #898989;
    }
  }

  &-Body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-Logo {
    .Logo-Icon {
      height: 17px;
      width: 135px;
    }
  }

  &-Copyright {
    height: 30px;
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  &-TermsOfUse,
  &-PrivacyPolicyLink {
    @extend .link;
    color: #2885ae !important;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }
}

.event-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.event-workflow-admin-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}