.ResetPasswordForm {
  width: 350px;
}

.ResetPasswordForm-TextField {
  &.form-group.TextField {
    margin-bottom: 20px;
  }

  .TextField-Input {
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 0 1em;
  }
}

.ResetPasswordForm-Btn {
  &.btn {
    padding: 0;
  }

  margin-right: 24px;
  width: 130px;
  height: 35px;
}