.ESign-Form {
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Form-Buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #dee2e6;
  padding: 20px 25px 40px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;

  .btn {
    padding: 0;
    width: 100px;
    height: 35px;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.emailBox {
  width: 100%;
  height: 86.25px;
  line-height: 97px;
  padding-left: 15px;
}

.poaEmailBox {
  width: 100%;
  height: 84px;
  padding-left: 15px;
  display: flex;
  align-items: flex-end;

  .select-use {
    height: 25px;
    padding-left: 15px;
    margin-right: 15px;
  }
}

.clearBtn {
  width: 160px;
  height: 40px;
  line-height: 40px;
  background-color: #0a58ca;
  color: #FFFFFF;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
}

.error-no-client {
  font-size: 12px;
  color: #ff3b35;
}