.AppointmentFilter {
  padding: 12px 24px;
  border-radius: 5px;
  background-color: #f9f9f9;

  &-Btn {
    height: 35px;
    width: 100px;
    margin-top: 31px;
    margin-right: 30px;
    background-color: white;

    &.btn {
      padding: 0;
    }
  }

  &-Icon {
    cursor: pointer;
  }

  &-Icon_rotated_90 {
    transform: rotate(90deg);
    transition: 0.3s;
  }

  &-Icon_rotated_0 {
    transform: rotate(0deg);
    transition: 0.3s;
  }

  &-CheckboxField.CheckboxField.form-group {
    padding-top: 35px;
  }

  &-InactiveCreator {
    .MultiSelect-OptionText {
      color: #bbbbbb;
    }
  }

  &-ClientsDropdownHeader {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
}