.ProspectEventFilter {
  width: 100%;
  padding: 20px 24px;
  background-color: #f9f9f9;
  margin-bottom: 40px;

  &-Buttons {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &-Btn {
    margin-right: 23px;

    &:last-child {
      margin-right: 0;
    }

    &.btn {
      padding: 0 15px;
      width: 100px;
      margin-bottom: 20px;
    }
  }
}