@import "custom/_fonts.scss";

.ServicePrimaryInfo {
  &-Title {
    font-size: 14px;
    color: $font-color_text;
    font-family: Open Sans Semibold, sans-serif;
    margin-bottom: 5px;
  }

  &-HighlightedText {
    padding: 0;
    color: #2493e5;
    background-color: transparent;
  }

  &-CategoryTitle {
    font-size: 12px;
    color: $font-color_text;
    font-family: "Open Sans", sans-serif;
  }
}