@mixin rule-element-position {
  align-self: flex-end;
  margin-bottom: 27px;
}

.ESignDocumentTemplateFieldRuleForm {
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-Body {
    flex: 1;
    padding: 40px 14px 40px 24px;
    max-height: 430px;
    overflow: hidden scroll;
  }

  &-SelectField {
    width: 280px;

    .MultiSelect.is-invalid {
      padding: 6px 12px !important;
    }
  }

  &-Text {
    @include rule-element-position();

    font-size: 14px;
    font-weight: bold;
    font-family: "Open Sans Semibold", sans-serif;
  }

  &-DeleteAction {
    @include rule-element-position();
  }

  &-Buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dee2e6;
    padding: 20px 25px 40px;

    .btn {
      padding: 0;
      width: 100px;
      height: 35px;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
