@import "custom/_fonts";

.AssessmentViewer {
  &.modal-dialog {
    padding: 20px 5px;
    max-width: 1040px;
  }

  & .modal-body {
    padding-bottom: 42px;
  }

  & .Modal-ScrollTopBtn {
    bottom: 128px;
  }

  .AssessmentViewer-Footer.modal-footer {
    padding: 20px 20px 40px;

    @media (min-width: 560px) {
      padding: 20px 25px 40px;
    }

    .AssessmentViewer-BackBtn,
    .AssessmentViewer-NextBtn {
      cursor: pointer;
      color: #0064ad;
      font-family: "Open Sans Semibold", sans-serif;
      font-size: 14px;
      padding: 0 10px;
      display: inline-block;
      margin: 0;
      width: auto;
      text-decoration: none;

      &:hover {
        color: #0064ad;
        text-decoration: none;
      }
    }
  }

  &.AssessmentViewer-Assessment_type_comprehensive,
  &.AssessmentViewer-Assessment_type_nor_cal_comprehensive {
    .Tabs {
      .Tabs-TabLink {
        padding: 6px 12px;
      }
    }

    .sv_main {
      .sv_container {
        .sv_body {
          .SurveyQuestion.sv_q.sv_qstn {
            padding: 15px 30px;
          }
        }
      }
    }
  }

  .sv_main {
    .sv_container {
      .sv_body {
        border: none;
        padding-top: 0;

        .SurveyRow {
          display: flex;
          flex-direction: row;
        }

        .SurveyPage {
          .sv-expand-collapse-btns {
            text-align: right;
          }

          a.sv-expand-all-sections-btn,
          a.sv-collapse-all-sections-btn {
            cursor: pointer;
            color: #0064ad;
            font-family: "Open Sans Semibold", sans-serif;
            margin-left: 24px;
            float: right;
          }

          .sv_page_title.SurveyPage-Title {
            color: $font-color_head-text;
            font-family: "Open Sans Semibold", sans-serif;
            font-size: 22px;
          }
        }

        .SurveyPanel {
          flex: 1;
          position: relative;
        }

        .ExpandableSurveyPanel {
          .SurveyPanel-Title.sv_p_title.sv_p_title_expandable {
            background-color: #f9f9f9;
            color: $font-color_head-text;
            padding: 14px 24px;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-size: 16px;
            border-radius: 5px;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &::after {
              width: 16px;
              height: 16px;
              position: static;
              background: url("../../../../../images/plus.svg") no-repeat center center;
            }

            &.sv_p_title_expanded::after {
              transform: rotate(90deg);
              background: url("../../../../../images/minus.svg") no-repeat center center;
            }
          }
        }

        .sv_p_title.SurveyPage-Title {
          color: $font-color_head-text;
          font-family: "Open Sans", sans-serif;
          font-weight: bold;
          font-size: 22px;
          padding-left: 0;
        }

        .sv_p_root {
          .sv_row {
            border: none;
            background-color: #fff;
          }

          .sv_q.SurveyQuestion {
            input[type="radio"],
            input[type="checkbox"] {
              width: 27px;
              height: 27px;
              margin: 0;
              background-color: #0064ad;
            }

            input[type="text"] {
              &:focus {
                border: 1px solid #e7e7e7;
              }

              height: 35px !important;
            }

            .sv_select_wrapper:before {
              right: 1px;
              padding: 16px;
              background-color: #ffffff;
              background-image: url("../../../../../images/chevron-bottom-gray.svg");
            }

            select {
              height: 35px;
            }

            &.SurveyQuestion_type_text,
            &.SurveyQuestion_type_rating,
            &.SurveyQuestion_type_comment,
            &.SurveyQuestion_type_checkbox,
            &.SurveyQuestion_type_radiogroup,
            &.SurveyQuestion_type_matrix {
              flex: 1;

              & + .SurveyQuestion_type_boolean {
                width: 130px !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 0;
                margin-left: 20px;
                min-width: auto !important;
                flex: none !important;

                @media (max-width: 399px) {
                  width: 90px !important;
                }
              }
            }

            &.sv_q--disabled {
              &.SurveyQuestion_type_text {
                input {
                  border-color: #bdbdbd;
                  background-color: #f9f9f9;
                }
              }

              &.SurveyQuestion_type_comment {
                textarea {
                  border-color: #bdbdbd;
                  background-color: #f9f9f9;
                }
              }

              &.SurveyQuestion_type_dropdown {
                .sv_select_wrapper:before {
                  background-color: #f9f9f9;
                }

                .sv_q_dropdown_control {
                  border-color: #bdbdbd;
                  background-color: #f9f9f9;
                }
              }
            }

            &.SurveyQuestion_type_comment {
              textarea {
                margin-bottom: 3px;
              }
            }

            &.SurveyQuestion_type_matrix {
              .sv_q_matrix {
                color: #4e4c51;

                tr {
                  @media (max-width: 600px) {
                    border-bottom: none;
                  }

                  td {
                    padding: 10px;

                    @media (max-width: 600px) {
                      &::after {
                        position: relative;
                        top: -8px;
                        left: 10px;
                      }
                    }

                    &:first-child {
                      min-width: 10em;
                    }

                    min-width: 6em;
                  }
                }

                .sv_q_m_label {
                  width: auto;
                  line-height: 1;
                  display: inline-block;
                  position: relative;
                  vertical-align: middle;

                  input {
                    top: 0;
                    left: 0;
                    opacity: 0;
                    z-index: 2;
                    position: absolute;
                  }

                  input:disabled ~ .circle {
                    opacity: 0.6;
                    background-color: #f9f9f9;
                  }

                  .circle {
                    width: 27px;
                    height: 27px;
                    border: 1px solid #bdc3c7;
                    display: inline-block;
                    border-radius: 50%;
                  }

                  &.checked {
                    .check {
                      top: 9px;
                      @media (max-width: 600px) {
                        top: -3px;
                      }

                      left: 9px;
                      width: 9px;
                      height: 9px;
                      border-radius: 50%;
                      position: absolute;
                      display: inline-block;
                      background: url("../../../../../images/oval.svg") no-repeat center center !important;
                    }
                  }
                }
              }
            }

            &.SurveyQuestion_type_boolean {
              min-width: 160px;
              align-items: flex-end;

              .sv_cw_pretty_checkbox_boolean {
                .pretty {
                  margin-right: 0;
                }
              }
            }
          }

          .sv_q_rating {
            .sv_q_rating_item {
              &.active {
                border-left-color: #27638f;

                .sv_q_rating_item_text {
                  &:hover {
                    border-color: #27638f;
                    background-color: #27638f;
                  }

                  background-color: #27638f;
                  border-color: #27638f;
                  color: white;
                }
              }

              .sv_q_rating_item_text {
                &:hover {
                  border-color: #e7e7e7;
                  background-color: #e7e7e7;
                }
              }
            }

            .sv_q_rating_item:not(:first-child) {
              &.active {
                .sv_q_rating_item_text {
                  &:not(:hover) {
                    border-left-color: #27638f;
                  }
                }
              }

              .sv_q_rating_item_text {
                &:not(:hover) {
                  border-left-color: #e7e7e7;
                }
              }
            }
          }
        }

        .SurveyQuestion.sv_q.sv_qstn {
          padding-left: 30px;
          padding-top: 15px;
          padding-bottom: 15px;

          @media (min-width: 400px) {
            &:last-child {
              padding-right: 30px !important;
            }
          }
        }

        .SurveyPanel-Title.sv_p_title {
          font-size: 22px;
          font-weight: 600;
          font-family: "Open Sans", sans-serif;
          color: $font-color_head-text;
          padding-left: 30px;
        }

        .SurveyQuestion-Title.sv_q_title {
          font-size: 13px;
          font-weight: 600;
          color: $font-color_head-text;
          font-family:
            Open Sans Semibold,
            sans-serif;
        }
      }
    }

    .sv_nav {
      display: none;
    }

    .pretty input[disabled] ~ * {
      opacity: 1;
    }

    .sv_cw_pretty_checkbox_checkbox,
    .sv_cw_pretty_checkbox_boolean,
    .sv_cw_pretty_checkbox_radiogroup {
      margin-top: 20px;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      .pretty {
        line-height: inherit;
        white-space: normal;

        input:disabled ~ .state {
          label {
            &:before {
              border-color: #bdbdbd;
              background-color: #f9f9f9;
            }
          }
        }

        .state {
          label {
            min-height: 30px;
            color: $font-color_head-text;
            line-height: 1.5;
            text-indent: 0;
            vertical-align: middle;
            padding-left: 40px;

            &:before {
              top: 0;
              width: 27px;
              height: 27px;
              display: inline-block;
              position: absolute;
              vertical-align: middle;
              margin-right: 16px;
            }

            &:after {
              top: 0;
              width: 25px;
              height: 25px;
              transform: scale(1);
            }
          }
        }
      }
    }

    .sv_cw_pretty_checkbox_boolean {
      .pretty {
        &.p-icon {
          .state {
            label {
              &:before {
                border-color: #bdc3c7;
              }
            }
          }
        }
      }
    }

    .sv_cw_pretty_checkbox_checkbox,
    .sv_cw_pretty_checkbox_boolean {
      .pretty {
        input:checked ~ .state.p-success {
          label:after {
            top: 1px;
            left: 1px;
            background: url("../../../../../images/ok.svg") no-repeat center center !important;
          }
        }
      }
    }

    .sv_cw_pretty_checkbox_radiogroup {
      .pretty {
        input:checked ~ .state.p-success {
          label:after {
            top: 1px;
            left: 1px;
            transform: scale(0.37);
            background-color: #bfbdbd !important;
          }
        }
      }
    }
  }
}

.AssessmentViewer-FooterBtns {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.AssessmentViewer-TabsWrapper {
  z-index: 1;
  left: 0;
  right: 0;
  margin-right: 10px;
  background-color: white;
  padding: 20px 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 999px) {
    padding: 20px 1em 5px;
    justify-content: flex-start;
  }
}

.AssessmentViewer-TabsContainer {
  @media (max-width: 999px) {
    display: none;
  }
}

.AssessmentViewer-Dropdown {
  display: none;

  @media (max-width: 999px) {
    display: block;
  }

  .Dropdown-ItemIndicator {
    top: 1px;
  }

  &.Dropdown.dropdown {
    & > .dropdown-menu {
      & > .dropdown-item {
        border-bottom: 1px solid #edf4f5;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.AssessmentViewer-Footer {
  &.modal-footer {
    .btn {
      border-radius: 2px;
      margin-left: 25px;
    }
  }
}

.AssessmentViewer-Header {
  .modal-title {
    color: $font-color_head-text;
    font-size: 22px;
    font-weight: bold;
  }
}

.AssessmentViewer-Loading {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SurveyQuestion-Title {
}

.SurveyPanel-Title {
  font-size: 22px;
  font-weight: 600;
  color: $font-color_head-text;
}

.SurveyPanel-Nav {
  padding: 30px 30px 0;
  text-align: left;
}

.SurveyPanel-NavLink {
  font-size: 14px;
  font-weight: 600;
  color: #0064ad;
  margin-right: 30px;
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: #0064ad;
  }

  &:last-child {
    margin-right: 0;
  }
}

.NavDestinationSurveyPanel {
  position: relative;
  margin-left: 35px;
  padding-right: 35px;

  @media (max-width: 399px) {
    margin-left: 15px;
    padding-right: 15px;
  }
}

.SurveyMinorPanel-DecoratedBorder {
  position: absolute;
  width: 2px;
  background-color: #e0e0e0;
  left: 0;
  top: 47px;
  bottom: 15px;
  z-index: 1;

  &::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 6px;
    position: absolute;
    top: -5px;
    left: -5px;
  }

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    position: absolute;
    left: -3px;
    bottom: -3px;
  }
}

.AssessmentViewer-ArrowAnchor {
  position: absolute;
  right: 40px;
  bottom: 80px;
}

.AssessmentViewer-ArrowTopIcon {
  &:hover {
    cursor: pointer;
  }

  fill: #898989;
  height: 32px;
  width: 32px;
  background-color: #f9f9f9;
  padding: 6px;
}

.AssessmentViewer-CommentField {
  .TextField-Input {
    &.form-control {
      height: auto;
      min-height: 80px;
    }
  }
}

.AssessmentViewer-Section {
  padding: 20px 35px;
}

.AssessmentViewer-SectionTitle {
  color: $font-color_head-text;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
}

.AssessmentViewer-SectionText {
  margin-top: 10px;
}

.AssessmentChangeHistoryContainer {
  padding: 20px 30px;
}

.AssessmentChangeHistory-Caption {
  padding-bottom: 25px;
}

.AssessmentChangeHistory-Title {
  font-size: 26px;
  font-weight: bold;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

button.AssessmentChangeHistory-ViewDetailsBtn {
  cursor: pointer;
  color: #0064ad;
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 14px;
  width: auto;
  padding-left: 0;
  text-decoration: none;

  &:hover {
    color: #0064ad;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

.AssessmentChangeHistory-AssessmentStatus {
  color: $font-color_head-text;
  font-size: 14px;
  padding: 0 8px;
  border-radius: 2px;
}

.AssessmentEditor-mammogram-education-headerTitle {
  background-color: #075aa0;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 40px;
  padding: 0 25px;
  color: #ffffff;
  margin: 20px 0 20px;
  line-height: 40px;
}

.AssessmentEditor-mammogram-Information {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}
