.HIEConsentPolicyForm {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &-Section {
    padding: 20px 40px 20px;
  }

  &-SectionDefinition {
    white-space: pre-line;
  }

  .Scrollable {
    flex: 1 1 0%;
  }
}
