@import "custom/_fonts";

.MessageNotification {
  border-radius: 2px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #333333;
  display: flex;
  align-items: flex-start;

  &-Body {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 14px 12px;
    color: white;
  }

  &-Author {
    font-size: 12px;
    max-width: 440px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Open Sans Semibold", sans-serif;

    &AvatarWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10px;
    }

    &Avatar {
      width: 32px;
      height: 32px;
    }
  }

  &-LastMessage {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
  }

  &-LastMessageTypeIcon {
    margin-right: 6px;
  }

  .MessageTypeView {
    font-size: 12px;
    color: white;
  }

  &-Close {
    width: 14px;
    height: 14px;
    cursor: pointer;

    path {
      fill: white;
    }
  }
}