@import "custom/_fonts";

.MultiSelectGroup-Container {}

.MultiSelectGroup {
  padding: 6px 12px;
  position: relative;
  border: 1px solid transparent;

  button:focus {
    outline: none;
  }

  input:focus {
    outline: none;
  }

  &:hover {
    background-color: #f6f6f6;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
  }

  &_hidden {
    display: none;
  }

  &_disabled {
    background-color: #f1f1f1 !important;
    opacity: 1;
    cursor: auto;

    .MultiSelectGroup-Toggle {
      &:hover {
        cursor: auto;
      }
    }

    .MultiSelectGroup-SearchInput {
      background-color: #f1f1f1;
      color: #898989;
    }

    .MultiSelectGroup-CrossBtn {
      display: none;
    }

    .MultiSelectGroup-SelectedText {
      color: #898989;

      &_placeholder {
        color: $font-color_placeholder;
      }
    }

    .MultiSelectGroup-ToggleChevron {
      fill: #bfbdbd;
    }

    .MultiSelectGroup-KeyboardSearchInput {
      background-color: #f1f1f1;
    }
  }
}

.MultiSelectGroup-Option {
  &:hover {
    background-color: #f9f9f9;
  }
}

.MultiSelectGroup-Option_selected {
  &.MultiSelectGroup-Option_tick {
    padding-right: 30px;
    border-top: 1px #bfbdbd solid;
    border-bottom: 1px #bfbdbd solid;
    background-color: #f9f9f9;

    & + .MultiSelectGroup-Option_tick {
      border-top: 0;
    }
  }
}

.MultiSelectGroup-Option_tick {
  .MultiSelectGroup-OptionText {
    margin: 0;
  }
}

.MultiSelectGroup-Input {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  padding: 0;
  border: none;
  position: absolute;
}

.MultiSelectGroup-Toggle {
  display: flex;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 100%;
  border: 0;
  cursor: pointer;
  text-align: right;
  justify-content: space-between;
}

.MultiSelectGroup-SelectedText {
  flex: 1;
  font-size: $font-size_multi-select-value;
  color: $font-color_head-text;
  line-height: 1.5;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Open Sans", sans-serif;
}

.MultiSelectGroup-KeyboardSearchInput {
  flex: 1;
  min-width: 50px;
  border: none;
  font-size: $font-size_multi-select-value;
  color: $font-color_head-text;
  font-family: "Open Sans", sans-serif;

  &::placeholder {
    color: $font-color_placeholder;
  }
}

.MultiSelectGroup-SelectedText_placeholder {
  color: $font-color_placeholder;
  font-size: $font-size_multi-select-value;
  font-weight: normal;
}

.MultiSelectGroup-SearchInput,
.MultiSelectGroup-CustomValueInput {
  width: 100%;
  border: 0;
  font-size: $font-size_multi-select-value;
  color: $font-color_head-text;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Open Sans", sans-serif;

  &::placeholder {
    color: $font-color_placeholder;
  }
}

.MultiSelectGroup-SearchBtn {
  right: 6px;
  width: 24px;
  height: 24px;
  bottom: 4px;
  fill: #4C4E51;
  position: absolute;
}

.MultiSelectGroup-CrossBtn {
  &:hover {
    cursor: pointer;
  }

  right: 8px;
  bottom: 7px;
  width: 18px;
  height: 18px;
  fill: #4C4E51;
  position: absolute;
}

.MultiSelectGroup-ToggleChevron {
  width: 9px;
  height: 9px;
  margin-left: 10px;
  fill: #898989;
}

.MultiSelectGroup-Options {
  top: 35px;
  left: 0;
  width: 350px;
  max-height: 500px;
  flex-direction: column;
  background: white;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.MultiSelectGroup-OptionSeparator {
  display: block;
  height: 2px;
  width: 100%;
  margin: 15px 10px 0;
  border-top: 1px dashed #bfbdbd;
}

.MultiSelectGroup_collapsed {
  .MultiSelectGroup-Options {
    display: none;
  }
}

.MultiSelectGroup-Option {
  padding: 10px;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.MultiSelectGroup-Option_disabled {
  &, &:hover {
    cursor: default;
  }

  .MultiSelectGroup-OptionText {
    color: #b7b7b7;
  }
}

.MultiSelectGroup-OptionHighlightedText {
  color: $font-color_head-text;
  font-size: 1.13em;
  font-weight: bold;
  background: none;
  padding: 0;
}

.MultiSelectGroup-Option_tick {
  padding: 6px 16px;
}

.MultiSelectGroup-Option_checkbox {
  padding: 10px;
}

.MultiSelectGroup-OptionText {
  margin-top: 3px;
  font-size: $font-size_multi-select-value;
  color: $font-color_head-text;
  position: relative;
}

.MultiSelectGroup_expanded {
  background-color: #f6f6f6;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
}

.MultiSelectGroup-Checkbox {
  display: inline-block;
  position: relative;
  height: 27px;
  width: 27px;
  border: 1px solid #e0e0e0;
  margin-right: 10px;
  flex: none;
}

.MultiSelectGroup-CheckMark {
  left: 8px;
  position: absolute;
  top: 4px;
  width: 9px;
  height: 15px;
  border: solid #0064ad;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.MultiSelectGroup-Tick {
  position: absolute;
  top: 0;
  right: -20px;
  width: 9px;
  height: 15px;
  border: solid #0064ad;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.MultiSelectGroup-SectionTitle {
  margin-top: 24px;
  font-size: 14px;
  color: #075AA0;
  font-family: "Open Sans Semibold", sans-serif;
  margin-bottom: 12px;
  padding-left: 10px;
  padding-right: 16px;
  display: flex;
  align-items: flex-end;
}

.MultiSelectGroup-CategoryTitle {
  font-size: 14px;
  color: #075AA0;
  font-family: "Open Sans Semibold", sans-serif;
  padding-right: 16px;
  display: flex;
  align-items: flex-end;
}

.MultiSelectGroup-SectionItem {
  &:last-child {
    border-bottom: 1px dashed #bfbdbd;
    padding-bottom: 12px;
    margin-bottom: 0;
  }

  display: flex;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  margin-bottom: 12px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: $font-color_head-text;
  font-family: "Open Sans", sans-serif;
}

.MultiSelectGroup-SectionCheckMark {
  width: 9px;
  margin-left: 12px;
  height: 15px;
  border: solid #0064ad;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.MultiSelectGroup-Second-part {
  padding-left: 20px;
}

.MultiSelectGroup-TreeIcon {
  width: 27px;
  height: 27px;
  padding: 7px;
  box-sizing: border-box;
  margin: 10px 0 10px 10px;
  cursor:pointer;
}