.Logo {
  display: flex;
  align-items: center;
  position: relative;

  &_color_mono {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  &-Icon {
    width: 194px;
    height: 24px;
  }
}