@import "custom/_fonts";
@import 'custom/_page';

.top-tab {
  font-family: "Open Sans", serif;
  margin: 5px 0 15px;
  width: 255px;
  height: 41px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.15);
  color: #075aa0;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  line-height: 16px;
}

.active-tab {
  background-color: #075aa0;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.normal-tab {
  background-color: #FFFFFF;
  color: #075AA0;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
  gap: 20px;
  position: relative;
}

.card-box {
  padding: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//@media screen and (max-width: 1400px) {
//  .container {
//    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr)); /* 在屏幕宽度小于 768px 时，调整网格列 */
//  }
//}
//
//@media screen and (max-width: 1200px) {
//  .container {
//    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr)); /* 在屏幕宽度小于 768px 时，调整网格列 */
//  }
//}
//
//@media screen and (max-width: 979px) {
//  .container {
//    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr)); /* 在屏幕宽度小于 768px 时，调整网格列 */
//  }
//}
//
//@media screen and (max-width: 756px) {
//  .container {
//    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr)); /* 在屏幕宽度小于 768px 时，调整网格列 */
//  }
//}
.Top-LoaderImg {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 25px);
  width: 50px;
  height: 30px;
}

.Top-second-title {
  color: #949494;
  font-size: 14px;
  margin-bottom: 8px;
}