.EventForm {
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
}

.EventForm-Section {
  padding: 0 40px 20px;

  &:first-child {
    padding-top: 20px;
  }
}

.EventForm-SectionTitle {
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Open Sans Semibold", sans-serif;
}

.EventForm-TextArea {
  .TextField-Input {
    height: 75px;
  }
}

.EventForm-EventTypeSelectField {
  .MultiSelect-Options {
    max-height: 500px;
  }
}

.EventForm-CheckboxField {
  margin-bottom: 20px;
}

.EventForm-Buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #dee2e6;
  padding: 20px 25px 40px;

  .btn {
    padding: 0;
    width: 100px;
    height: 35px;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}