.CommunityDeviceTypeForm {

}

.CommunityDeviceTypeForm-Section {
  padding: 20px 40px 50px;
}

.CommunityDeviceTypeForm-Actions{
  float: right;
  margin-top: 7px;

  .delete{
    fill: #0064ad;
  }
}

.CommunityDeviceTypeForm-CheckboxField{
  margin-top: 20px;
}