.NewPasswordForm {
  max-width: 350px;
}

.NewPasswordForm-TextField {
  &.form-group.TextField {
    margin-bottom: 25px;
  }
}

.NewPasswordForm-Btn {
  &.btn {
    padding: 0;
  }

  margin-right: 24px;
  width: 130px;
  height: 35px;
}