@import "custom/_fonts";

.ClientDocumentsDevicesSummary {
  flex: 1;
  padding: 20px 30px;
  position: relative;
  border-top: 8px solid #1e3352;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;

  @media (max-width: 1199px) {
    margin-top: 32px;
  }
}

.ClientDocumentSummaryList {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.ClientDocumentSummaryList-Title {
  color: $font-color_head-text;
  font-size: 22px;
  font-weight: 600;
  font-family: "Open Sans Semibold", sans-serif;
  margin-bottom: 16px;
}

.ClientDocumentSummaryList-Item {
  border-top: 1px dashed #dddddd;

  .DocumentDetail-Actions {
    justify-content: flex-end;
  }
}

.ClientDocumentSummaryList-ViewAllBtn {

}

.ClientDevicesSummary-Title {
  color: $font-color_head-text;
  font-size: 22px;
  font-weight: 600;
  font-family: "Open Sans Semibold", sans-serif;
  margin-bottom: 16px;
}

.ClientDevicesSummary-Item {
  border-top: 1px dashed #dddddd
}

.ClientDevice {
  display: flex;
  padding: 16px 0;
}

.ClientDevice-TypeIcon {
  margin-right: 12px;
}

.ClientDevice-Title {
  color: $font-color_head-text;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientDevice-Summary {

}

.ClientDevice-EditBtn {
  height: 24px;
  width: 24px;
  cursor: pointer;
  fill: #0064ad;
}

.ClientDevice-DeleteBtn {
  height: 24px;
  width: 24px;
  margin-left: 16px;
  cursor: pointer;
}

.ClientDevicesSummary-AddNewBtn {
  margin-right: 24px;
}

.ClientDevicesSummary-ViewAllBtn {

}