@import "custom/_fonts";

.ReleaseNotificator {}

.ReleaseNotificationDetails {
  padding-top: 10px;
  color: $font-color_head-text;
  font-family: "Open Sans", sans-serif;
}

.ReleaseNotificationDetails-Section {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.ReleaseNotificationDetails-SectionTitle {
  font-weight: bold;
}

.ReleaseNotificationDetails-SectionBody {
  padding-left: 20px;
}

.ReleaseNotificationDetails-Marker {
  width: 4px;
  margin-right: 10px;
  vertical-align: middle;
}