.DocumentManager {
  &.Modal {
    max-width: 1250px;

    @media (max-width: 1366px) {
      max-width: 1024px;
    }

    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }

  &-Title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-Header {
    &Icon {
      width: 24px;
      height: 24px;
    }

    &EditIcon {
      fill: #ffffff;
      margin-right: 12px;
    }

    &Buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &Button {
      height: 24px;
      width: 24px;
      fill: #222222;
      cursor: pointer;

      path {
        fill: #222222;
      }
    }
  }

  &-Body {}

  &-DocumentEditor {
    height: 100%;
    border-right: 1px solid #e0e0e0;
  }

  &-DocumentViewer {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  &-Document {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 20px 24px;
    overflow-y: auto;
    min-width: 340px;
    border-right: 1px solid #e0e0e0;
  }


  &_editing {
    .DocumentManager {
      &-Title {
        color: #ffffff;
      }

      &-Header {
        background-color: #4c4e51;
      }

      &-CrossIcon {
        fill: #ffffff;

        g {
          stroke: #ffffff;
        }
      }

      &-DocumentViewer {
        height: auto;
        flex-direction: row-reverse;
      }

      &-Document {
        flex: 1;
        min-width: inherit;
        border-right-color: transparent;
      }

      &-DocumentDetails {
        .Detail {
          min-width: 100px;
          max-width: 300px;

          &-Title {
            color: #27638f;
            font-size: 13px;
            white-space: nowrap;
            text-transform: inherit;
            font-family: "Open Sans Semibold", sans-serif;
          }

          &-Value {
            display: block;
          }
        }
      }

      &-DocumentPreview {
        max-width: 265px;
        padding: 0;
        margin-right: 20px;

        .FilePreviewer {
          border-radius: 2px;
          border: 1px solid #dddddd;
        }
      }
    }
  }

  &-DocumentPreview {
    flex: 1;
    padding: 20px 16px;
  }

  &-DocumentActions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &-DocumentAction {
    &.btn {
      padding: 0;
      width: 100px;
      font-size: 14px;
    }

    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &.DocumentManager-PermanentlyDeleteAction {
      width: 155px;
    }

    &.DocumentManager-RestoreAction {
      width: 115px;
    }
  }

  &-DocumentCategory {
    margin-bottom: 5px;

    &.DocumentCategory {
      border-radius: 13px;
    }
  }

  &-DocumentCategoryIndicator {
    &.DocumentCategory-Indicator {
      width: 12px;
      height: 12px;
    }
  }

  &-DocumentCategoryName {
    &.DocumentCategory-Name {
      font-size: 14px;
    }
  }
}