@import "custom/_fonts";

.AttorneyList {
    margin-top: 10px;
}

.AttorneyList-Item {
    &.list-group-item {
        border: none;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: row;
    }
}

.Attorney-Avatar {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.Attorney-Details {
    flex: 1;
    padding-bottom: 10px;
    border-bottom: 1px dashed #dddddd;

    .Attorney-Detail {
        padding: 1px 0;
        font-size: $font-size_list-item-text;
    }
}

.Attorney-FullName {
    padding: 1px 0;
    font-size: $font-size_list-item-text;
    font-family: "Open Sans Semibold", sans-serif;
}