.EventNoteFilter {
  width: 100%;
  padding: 20px 24px;
  background-color: #f9f9f9;
  margin-bottom: 40px;

  .react-datepicker-popper {
    z-index: 2;
  }
}

.EventNoteFilter-Btn.btn {
  padding: 0;
  width: 100px;
  height: 35px;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}