@import "custom/_fonts";

.ClientMedicationsSummary {
}

.ClientMedicationsSummary-Title {
  position: relative;
  margin-bottom: 18px;
}

.ClientMedicationsSummary-TitleText {
  margin-right: 6px;
  font-size: 22px;
  font-weight: bold;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
  margin-bottom: 18px;
}

.ClientMedicationsSummary-MedicationCount {
  &.badge {
    color: #ffffff;
    font-size: 12px;
    border-radius: 2px;
    padding: 4px 11px;
  }

  position: absolute;
  top: 0;
}

.ClientMedicationsSummary-Body {
  padding: 20px 30px;
  position: relative;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;


  .Client-Medication-Tab {
    width: 100%;
    height: 50px;
    background-color: #F4FBFE;
    display: flex;
    align-items: center;
    padding-left: 20px;

    .Client-Medication-OverView-Tab-Click {
      color: #075AA0;
    }

    div {
      font-size: 15px;
      line-height: 20.42px;
      font-weight: 600;
      color: #1F1F1F;

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  .Client-Medication-OverView {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    @media (min-width: 1000px) {
      flex-direction: row;

    }
  }

}

.ClientMedicationsSummary-Chart {
  flex: 1;

  @media (min-width: 1000px) {
    width: 50%;
    margin-right: 35px;
  }
}


.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  //border: 1px solid #a0a096;
  //font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  //height: 44px;
  //margin-bottom: 1em;
}

.react-calendar__navigation__label__labelText--from {
  color: #1F1F1F;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.react-calendar__navigation__prev-button, .react-calendar__navigation__next-button {
  color: #4C4E51;
  border: 1px solid #E0E0E0 !important;
  font-size: 20px;
}

.react-calendar__navigation button {
  //min-width: 44px;
  background: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  //background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;

  border-bottom: 1px solid #ccc;
}

.react-calendar__month-view__weekdays__weekday {
  color: #00ACE6;
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  //color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  //padding: 10px 16px;
  background: none;
  //text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;

  width: 60px;
  height: 60px;;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  //background-color: #e6e6e6;
}

.react-calendar__tile--now {
  //background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  //background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  //background: #006edc;
  color: white;

  abbr {
    //padding: 8px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ACE6;
    border-radius: 4px;

  }


}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  //background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.medicationsStatus {
  //width: 24px;
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 4px;
  position: absolute;
  //left: 12px;
  bottom: -2px;
}

.Unknown-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FFE8AC;
}

.NoResponse-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #E0E0E0;
}

.Taken-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #DBF2BE;
}

.Missed-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FBC5C5;
}

abbr[title] {
  text-decoration: none; /* 移除默认的下划线样式 */
  border-bottom: none; /* 移除下划线 */
  cursor: default;
}


.Client-Medication-Daily {
  width: 100%;
  padding: 30px 20px 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (min-width: 1000px) {
    flex-direction: row;
  }
  //justify-content: ;
}

.Client-Medication-Daily-CalendarBox {
  width: 100%;

  @media (min-width: 1000px) {
    width: 50%;
  }

  @media (min-width: 1248px) {
    min-width: 375px;
    width: 25%;

  }
}

.ClientMedicationDailyDetails {
  padding-top: 15px;
  flex: 1;
  width: 100%;
  height: 400px;
  max-height: 400px;
  overflow: scroll;

  .ClientMedicationDailyDetailsNoData {
    width: 100%;
    height: 100%;
    border: 2px dashed #E0E0E0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 33px;
      height: 33px;
    }
  }


}

.ClientMedicationDailyDetailsBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  gap: 10px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 10px;
  padding-bottom: 10px;


  .ClientMedicationDailyDetailsLeftTitle {
    color: #0064AD;
    font-weight: 600;
    cursor: pointer;
  }

  .ClientMedicationDailyDetailsInfo {
    display: flex;
    gap: 10px;
    align-items: center;

    color: #4C4E51;
    font-size: 14px;
    font-weight: 400;

    .ClientMedicationDailyDetailsLeftStatus {
      color: #222222;
    }
  }
}

.TakenStatus {
  background-color: #DBF2BE;
  padding: 4px;
  border-radius: 4px;
}

.MissedStatus {
  background-color: #FBC5C5;
  padding: 4px;
  border-radius: 4px;
}

.UnknownStatus {
  background-color: #FFE8AC;
  padding: 4px;
  border-radius: 4px;
}

.NoResponseStatus {
  background-color: #E0E0E0;
  padding: 4px;
  border-radius: 4px;
}

.not-current-month {


  abbr {
    display: none;
  }
}

