@import "custom/_fonts";

.ClientMedicationsSummary {
}

.ClientMedicationsSummary-Title {
  position: relative;
  margin-bottom: 18px;
}

.ClientMedicationsSummary-TitleText {
  margin-right: 6px;
  font-size: 22px;
  font-weight: bold;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
  margin-bottom: 18px;
}

.ClientMedicationsSummary-MedicationCount {
  &.badge {
    color: #ffffff;
    font-size: 12px;
    border-radius: 2px;
    padding: 4px 11px;
  }

  position: absolute;
  top: 0;
}

.ClientMedicationsSummary-Body {
  padding: 20px 30px;
  position: relative;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
  }
}

.ClientMedicationsSummary-Chart {
  flex: 1;

  @media (min-width: 1000px) {
    width: 50%;
    margin-right: 35px;
  }
}