.PrimaryCommunityGroup,
.AffiliatedCommunityGroup {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.CommunityDetails-CommunityLink,
.CommunityDetails-OrganizationLink {
  color: #0064ad;
  cursor: pointer;
  text-decoration: none;
  font-family: "Open Sans Semibold", sans-serif;

  &:focus {
    color: #0064ad;
    outline: none;
  }

  &:hover {
    color: #0064ad;
  }
}