@import "custom/_fonts";
@import 'custom/_page';

.Reports {
  .Reports {
    flex: 1;
    @include page;
    padding: 20px 30px;
    position: relative;
  }
}

.Reports-Title {
  font-size: 26px;
  position: relative;
  display: inline-block;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.ReportFilter-Icon {
  cursor: pointer;
}

.ReportFilter-Icon_rotated_90 {
  transform: rotate(90deg);
  transition: 0.3s;
}

.ReportFilter-Icon_rotated_0 {
  transform: rotate(0deg);
  transition: 0.3s;
}