.WorkflowLeft {
  padding: 10px 0 10px 20px;
}

@import "custom/_fonts";
@import 'custom/_page';

.WorkflowLeft-Header {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

.WorkflowLeft-Title {
  flex: 1;
  padding-bottom: 10px;
  margin-right: 20px;
  font-size: $font-size_list-item-text;
}

.WorkflowLeft-ControlPanel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.WorkflowLeft-TitleText {
  position: relative;
  font-size: 26px;
  color: $font-color_head-text;
  white-space: nowrap;
  font-family: "Open Sans Semibold", sans-serif;
}

.WorkflowLeft-ClientName {
  font-weight: normal;
  font-size: 20px;
  color: $font-color_head-text;
  font-family: "Open Sans", sans-serif;
}

.Event-ClientName,
.Note-ClientName {
  cursor: pointer;
  line-height: 1.5;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.Note-ClientName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Event-Type,
.Note-Subtype {
  color: $font-color_head-text;
  font-size: $font-size_list-item-text;
  line-height: 1.8;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Note-Entity,
.Event-Entity {
  color: $font-color_head-text;
  font-size: 13px;
  padding: 0 8px;
  border-radius: 2px;
  text-transform: uppercase;
}

.WorkflowLeft-Icon {
  cursor: pointer;
  margin-left: 10px;
}

.WorkflowLeft-Icon_rotated_90 {
  transform: rotate(90deg);
  transition: 0.3s;
}

.WorkflowLeft-Icon_rotated_0 {
  transform: rotate(0deg);
  transition: 0.3s;
}

.list-Pagination {
  width: 100%;
  text-align: right;
}


.MuiPagination-ul {
  justify-content: end;
  margin: 0;
  padding: 0;

  li:first-child {
    .MuiButtonBase-root {
      border-radius: 6px 0 0 6px !important;
    }
  }

  li:last-child {
    .MuiButtonBase-root {
      border-radius: 0 6px 6px 0 !important;
    }
  }
}

.MuiPaginationItem-root {
  margin: 0 !important;
  border-radius: 0 !important;
}

.MuiPaginationItem-page {
  border-radius: 0;
  margin-right: 0;
  padding: 0;
}


.Mui-selected.MuiPaginationItem-page {
  background-color: #f9f9f9 !important;
  color: #000000;
  font-weight: 700;
  //font-family: "Open Sans Semibold", sans-serif;
}

.Mui-disabled {
  background-color: #e9ecef !important;
  color: #d3d4d5 !important;
}