@import "custom/_fonts";

.ServicePlanScoring {
  padding-left: 40px;
  padding-right: 40px;

  .TableMobile-Expander {
    @media (max-width: 1024px) {
      margin-left: 10px;
    }

    @media (max-width: 667px) {
      margin-left: 0;
    }

    @media (max-width: 375px) {
      margin-left: -5px;
    }
  }
}

.ServicePlanScoring-Section {
  margin-top: 50px;

  &:first-child {
    margin-top: 0;
  }
}

.ServicePlanScoring-SectionTitle {
  color: $font-color_head-text;
  font-size: 26px;
  font-family: "Open Sans Semibold", sans-serif;
}

.ServicePlanScoring-ScoreSlider {
  display: block;
}

.ServicePlanNeedDetails {
  margin-top: 25px;
}

.ServicePlanNeedDetails-Summary {
  display: flex;
  flex-direction: row;
}

.ServicePlanNeedDetail {
  padding: 16px 20px;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;

  &:last-child {
    border-bottom: 1px solid #e0e0e0;
  }
}

.ServicePlanNeedDetails-Priority {
  padding: 15px 12px;
  color: $font-color_head-text;
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.ServicePlanNeedDetail-Title {
  color: $font-color_head-text;
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.ServicePlanNeedDetail-Text {
  color: $font-color_head-text;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.ServicePlanNeedDetails-Goals {
  display: block;
}

.ServicePlanGoalList {
  &.Table.table {
    border-collapse: collapse;
    margin-bottom: 0;

    thead .Table-Header {
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;

      th {
        white-space: normal;
        background-color: #f6f6f6;
        vertical-align: top;
      }
    }

    tbody tr td {
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      padding: 21px 17px;
      vertical-align: top;
      font-size: 14px;
      word-break: break-all;
    }

    caption {
      display: none;
    }

    th {
      font-size: 14px;
      background-color: #f6f6f6;
      color: $font-color_head-text;
      height: 78px;
    }
  }
}

.ServicePlanGoal-Status {
  color: $font-color_head-text;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
}

.ServicePlanActivationOrEducationTasks {
  display: block;
}

.ServicePlanActivationOrEducationTaskList {
  &.Table.table {
    border-collapse: collapse;
    margin-bottom: 0;

    thead .Table-Header {
      border: 1px solid #e0e0e0;

      th {
        height: 78px;
        color: $font-color_head-text;
        font-size: 14px;
        white-space: normal;
        background-color: #f6f6f6;
        vertical-align: top;
      }
    }

    tbody {
      td {
        border: 1px solid #e0e0e0;

        &:first-child {
          border-right: none;
        }

        &:nth-child(2) {
          border-left: none;
        }
      }

      & > tr {
        &.even { background: #ffffff }
      }
    }
  }
}