.DocumentCategory {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  padding: 2px 10px;
  border-radius: 11px;
  margin-right: 6px;

  &-Indicator {
    width: 8px;
    height: 8px;
    margin-right: 4px;
  }

  &-Name {
    flex: 1;
    font-size: 12px;
    word-break: break-word;
  }
}