.WorkflowForm {
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;

  .Scrollable {
    flex: 1 1 0%;
  }

  .WorkflowForm-Section {
    padding: 20px 40px 20px;
  }

  .WorkflowForm-SectionTitle {
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Open Sans Semibold", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.mt-10px {
  margin-top: 10px;
}

.add-btn {
  min-width: 160px;
}

.second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workForm-clientId {
  width: 80%;
}

.workflow-modal-bottom-btn {
  margin-top: 30px;
  border-top: 1px solid #e9e9e9;
  padding: 20px;
  text-align: right;

  .workflow-modal-bottom-btn-cancel {
    margin-right: 20px;
  }
}

/*
.workflow-group-select{
  .workflow-prop-select-down{
    width: 100%;
    line-height: 47px;
  }

  .workflow-prop-select-icon {
    width: 40px;
    height: 9px;
    color:#898989 !important;
  }
  .ant-select-selector {
    min-height: 35px !important;
    border-radius: 0 !important;
  }
  .ant-select-tree-title {
    height: 27px !important;
    line-height: 37px !important;
    font-size: 15px;
    font-family: Poppins, sans-serif;
  }
  .ant-select-tree-checkbox-inner {
    height: 27px !important;
    width: 27px!important;
    border-radius: 0 !important;
    border: 1px solid #e0e0e0 !important;
  }
  .ant-select-tree-checkbox-checked {
    background-color: red !important;
  }
}
*/


