@import "custom/_fonts";

.ScoringInfo {
  background-color: white;
}

.ScoringInfo-Header {
  display: flex;
  width: 100%;
  height: 45px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  align-items: center;
  background-color: #1e3352;
}

.ScoringInfo-HeaderText {
  font-size: 19px;
  color: #ffffff;
  font-family: "Open Sans Bold", sans-serif;
}

.ScoringInfo-Sections {
  padding: 30px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ScoringInfo-Section {
  &:last-child {
    margin-bottom: 0;
  }

  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  align-items: flex-start;
}

.ScoringInfo-SectionNumber {
  font-size: 32px;
  font-weight: 600;
  color: #1e3352;
  margin-top: -7px;
  margin-left: 20px;
  margin-right: 30px;
}

.ScoringInfo-SectionText {
  display: block;
  width: 483px;
  font-size: 14px;
  font-weight: 600;
  color: $font-color_head-text;
}