.loginForm {
  margin-top: 25px;
  padding: 0 10px;

  .associateTitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #075AA0;
  }
}

.associateLoginSuccessWrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 30px;
  margin-top: 100px;

  .titleFirst {
    font-size: 22px;
    font-weight: 900;
    line-height: 33px;
    color: #000;
    margin-top: 10px;
  }

  .title2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #222;
    margin-top: 10px;
  }

  .benefit {
    margin-top: 50px;
    background: #075AA01A;
    padding: 10px 20px;

    .benefitTitle {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #075AA0;
    }

    .benefitInfo {
      margin-top: 15px;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      color: #000;
    }
  }
}
