@import "custom/_fonts";

.AssessmentPieChart {
  width: 100%;
  height: 350px;

  .recharts-surface {
    position: relative;
  }

  .recharts-default-tooltip {
    margin: 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    white-space: nowrap;
    font-family: "Open Sans", sans-serif;
  }

  .recharts-default-legend {
    .recharts-legend-item:last-child {
      .recharts-surface {
        visibility: hidden;
      }

      .recharts-legend-item-text {
        color: $font-color_head-text !important;
        font-family: "Open Sans Semibold", sans-serif;
      }
    }
  }
}