@import "custom/_fonts";

.workflowFeedbackWrap {
  width: 100%;
  height: 100%;
  background-color: #F2F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.workflowFeedbackBox {
  width: 100%;
  max-width: 1280px;
  height: auto;
  padding-bottom: 70px;
  .sd-root-modern.sd-root-modern--full-container{
    height: auto !important;
  }
}


.feedbackHeader {
  margin-top: 20px;
  background-color: #fff;

  div {
    &:first-child {
      font-weight: 500;
      font-size: 26px;
      line-height: 39px;
      color: #000;
    }

    &:last-child {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #4C4E51;
    }

  }
}


.feedback-input {
  width: 100%;
  height: 34px;
  margin-bottom: 10px;
}


.cancel-btn {
  margin-right: 10px;
  height: 34px;
  background-color: #00ACE6 !important;
}

.confirm-btn {
  background-color: #00ACE6 !important;
  margin-bottom: 10px;
  height: 34px;
}


.feedback-message {
  width: 100%;
  min-height: 44px;
  padding: 10px 20px;
  background-color: #FEEBE9;

  color: #F45640;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .button-container {
    width: 250px;

    button {
      background-color: #00ACE6 !important;

      &:last-child {
        margin-left: 10px;
      }
    }
  }

}

.workflowFeedbackWrapFooter {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: fixed;
  bottom: 60px;
  right: 0;
  left: 0;
  background-color: #F2F4F1;
  padding: 10px ;
  box-shadow: -3px 1px 9px #999;
  z-index: 100;

  div {
    width: 162px;
    height: 56px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;

    &:first-child {
      background-color: #00ACE6;
    }

    &:last-child {
      background-color: #075AA0;

    }
  }

}

.disabled-btn {
  background-color: #cccccc !important;
}

.workflowFeedbackAddModal {
  width: 60% !important;
  max-width: 100% !important;

  @media (max-height: 450px) {
    margin-top: 0;
    width: 80% !important;
  }

}

.workflowFeedbackAddModalBody {
  padding: 20px !important;
}

.workflowAddFeedback-TextArea {
  margin-top: 20px;
}


.feedbackMessageContent {
  width: 100%;
  min-height: 44px;
  padding: 10px 20px;
  background-color: #FEEBE9;
  overflow-wrap: anywhere;
  word-break: break-all;
  white-space: normal;
  line-break: anywhere;
  color: #F45640;
  margin-top: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  .left {
    display: flex;
    align-items: center;
    width: 90%;
    overflow: auto;
    overflow-wrap: break-word;
    word-break: break-all;
    line-break: anywhere;
    white-space: normal;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      cursor: pointer;
    }
  }


}

.sv_row {
  background-color: #fff !important;
  border: none !important;
}

.feedback-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.dashed-line {
  flex-grow: 1;
  border-top: 1px dashed #CCCCCC;
  margin: 0 2px; /* Adjust space around the button */
}

.feedback-btn {
  //padding: 10px 20px;
  background-color: #E1F6FB !important;
  border: none;
  color: #09A3DF !important;
  text-align: center;
  cursor: pointer;
  //z-index: 99;
  //margin: -10px;
}

/* Hide the dashed lines on small screens if necessary */
@media (max-width: 768px) {
  .dashed-line {
    display: none;
  }
}

.workflow-right-btn-list {
  position: absolute;
  right: -100px;
  top: 100px;
}

.workflow-detail-top {
  width: 100%;
  max-width: 1280px;
  height: 113px;
  background: #fff;
  margin: 24px 0;
  padding: 21px;
  box-sizing: border-box;
  position: relative;

  .workflow-detail-top-title {
    font-family: Poppins, sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    text-align: left;
  }

  .workflow-detail-top-desc {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #4C4E51;
  }
}


.sd-body.sd-body--static {
  max-width: 100% !important;
  padding: 20px !important;
}

.sd-body.sd-body--responsive {
  max-width: 100% !important;
  padding: 20px !important;
}



.WorkflowFeedback-AssessmentEditor-SectionTitle {
  color: $font-color_head-text;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
}

.WorkflowFeedback-AssessmentEditor-SectionText {
  margin-top: 10px;
}

.WorkflowFeedback-AssessmentForm-CommentField {
  .TextField-Input {
    &.form-control {
      height: auto;
      min-height: 80px;
    }
  }
}

.WorkflowFeedback-managementSection {
  max-width: 1280px;
  margin: 0 auto 60px;
}

.WorkflowFeedback-Bottom-Comments{
  padding-bottom: 75px;
}