.NewPasswordSuccess {
  display: flex;
  width: 750px;
  height: 600px;
}

.NewPasswordSuccess-LogoImage {
  width: 220px;
  height: 76px;
  margin-right: 50px
}

.NewPasswordSuccess-Title {
  width: 440px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 25px;
  font-family: "Open Sans Semibold", sans-serif;
}

.NewPasswordSuccess-InfoText {
  font-size: 18px;
  margin-bottom: 5px;
}