@import "custom/_fonts";

.ClientProblems {
  @media (max-width: 1000px) {
    margin-top: 30px;
  }
}

.ClientProblemList {
  width: 100%;
  max-height: 375px;
  overflow-y: scroll;
}

.ClientProblemList-Item {
  &.list-group-item {
    border: none;
  }

  display: flex;
  justify-content: space-between;
}

.ClientProblems-TabsContainer {
  margin-bottom: 25px;
}

.ClientProblems-Tabs {
  .Tabs-TabLink {
    text-transform: capitalize;
  }

  @media (max-width: 550px) {
    display: none;
  }
}

.ClientProblems-Dropdown {
  display: none;
  margin-bottom: 25px;

  @media (max-width: 550px) {
    display: block;
  }
}

.ClientProblemList-Fallback {
  text-align: center;
}

.ClientProblemList-Separator {
  height: 380px;
  margin: 30px 60px 30px 60px;
  width: 4px;
  background-color: #e0e0e0;
}

.ClientProblemList-Status {
  height: 22px;
  color: $font-color_head-text;
  font-size: 14px;
  padding: 0 8px;
  border-radius: 2px;
}

.ClientProblemList-DateTimeWrapper {
  position: relative;
  text-align: right;
}

.ClientProblemList-Date {
  font-size: 18px;
}

.ClientProblem-Date {
  width: 75px;
  color: $font-color_head-text;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.ClientProblemList-TextWrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CaseloadTableContainer {
  margin-top: 30px;
  padding: 35px;
}

.CaseLoadTable-Caption {
  display: flex;
  justify-content: space-between;
}

.ClientProblemList-NumberSequence {
  &:after {
    content: '';
    top: 25px;
    left: 11px;
    position: absolute;
    height: 85px;
    width: 3px;
    background-color: #03b6f3;
  }

  width: 26px;
  left: 0;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  height: 26px;
  background-color: #03b6f3;
  border-radius: 50%;
}

.ClientProblemList-ClientProblem {
  font-size: $font-size_list-item-text;
  color: $font-color_head-text;
}

.ClientProblemList-Link {
  display: block;
  font-size: $font-size_list-item-text;
  color: #0064ad;
  font-weight: bold;
  cursor: pointer;
  font-family: "Open Sans Semibold", sans-serif;
  margin-right: 20px;
  text-decoration: none;

  &:hover {
    color: #0064ad;
  }
}

.ClientProblemList-LocationField {
  font-size: 14px;
  font-weight: 600;
  color: $font-color_head-text;
}
