@import "custom/_fonts";
@import 'custom/_page';

.ProspectDocuments {
  @include page;

  &-Header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
  }

  &-HeaderItem {
    margin-right: 20px;
    padding-bottom: 10px;

    &:first-child {
      flex: 1
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-Title {
    white-space: nowrap;
    position: relative;
  }

  &-TitleText {
    display: inline-block;
    font-size: 26px;
    color: $font-color_head-text;
    font-family: "Open Sans Semibold", sans-serif;
  }

  &-ProspectName {
    font-size: 20px;
    color: $font-color_head-text;
    font-family: "Open Sans", sans-serif;
  }

  &-Actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.ProspectDocumentList {
  .DocumentList-MultiDownload.Dropdown {
    .btn.Dropdown-Toggle {
      &:hover {
        border: none;
      }

      padding: 0;
      border: none;
    }
  }
}

.ProspectDocumentFilter-Icon {
  cursor: pointer;

  &_rotated_90 {
    transform: rotate(90deg);
    transition: 0.3s;
  }

  &_rotated_0 {
    transform: rotate(0deg);
    transition: 0.3s;
  }
}

// .DocumentReadyToSignDialog {
//   &-Text {
//     font-size: 14px;
//     margin-bottom: 48px;
//     align-self: flex-start;
//   }

//   &-PinLabel {
// 	  font-size: 13px;
//     margin-bottom: 6px;
//     font-weight: 600;
//     width: 320px;
//   }

//   &-PinSection {
// 	  width: 320px;
//   }

//   &-PinInput.form-control {
//     height: 35px;
//     background-color: #dee4e6;

//     &:focus {
//       box-shadow: none;
//       border-color: #ced4da;
//     }
//   }

//   &-Button {
// 	  height: 100%;
//   }

//   &-CloseButton {
// 	  position: absolute;
//     top: 0;
//     right: 0;
//     padding: 12px;
//     color: #000;
//     cursor: pointer;
//   }
// }
