@import "custom/_fonts";

.User {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  &.is-expanded {
    .User-Avatar {
      padding: 1px;
      box-shadow: 0 0 0 1px #898989;
    }
  }
}

.User-Avatar {
  margin-right: 15px;

  &:hover{
    opacity: .4;
    cursor: pointer;
  }
}

.User-Name {
  color: $font-color_head-text;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
  font-family: "Open Sans Semibold", sans-serif;
}

.User-Role {
  color: $font-color_head-text;
  font-size: 14px;
  margin-bottom: 12px;
}

.User-Profile {
  display: flex;
  width: 320px;
  top: 67px;
  right: 15px;
  position: absolute;
  border: 1px solid #bfbdbd;
  box-shadow: 0 2px 18px 2px rgba(0, 0, 0, 0.25);
  z-index: 1;
  background-color: #ffffff;
}

.User-ProfileAvatar{
  width: 90px;
  height: 90px;
  margin: 20px 24px;
  border-radius: 50%;
}

.User-Details {
  flex: 1;
  width: 100%;
  padding: 18px 20px 20px 0;
}

.User-LogOutBtn{
  &.btn{
    padding: 0px;
  }
  width: 100px;
  height: 35px;
}