// {
//   "extends": ["react-app", "eslint:recommended"],
//   "parser": "@babel/eslint-parser",
//   "rules": {
//     "semi": ["off", "always"],
//     "default-case": "off",
//     "no-unused-vars": "off",
//     "no-useless-escape": "off",
//     "no-constant-condition": "off"
//   }
// }
