.WeekDays {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &-Day {
    color: #222222;
    font-size: 13px;
    border-radius: 2px;
    padding: 6px 55px;
    line-height: 19px;
    font-family: "Open Sans Semibold", sans-serif;

    &Date {
      font-size: 16px;
    }

    &_current {
      border: 1px solid #2493e5;
    }
  }
}