.DocumentTemplatePreviewForm {
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;

    &-Section {
        padding: 20px 40px 20px;
    }

    &-Progress {
        justify-content: center;
        margin: 20px 0;
        margin-bottom: 48px;
    }

    &-AlertPanel {
        color: #333333;
        padding: 18px 14px;
        margin-top: 0;
        margin-bottom: 32px;
    }

    &-SignArea {
        position: relative;
        border: 1px solid #e0e0e0;

        .FilePreviewer {
            overflow: hidden;
        }
    }

    &-Buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px 25px 40px;
        border-top: 1px solid #dee2e6;
    }

    .canvas-container {
        position: absolute !important;
        top: 0;
    }
}
