@import "custom/fonts.scss";

.OldPassword {
  flex: 1;

  &-Logo {
    position: absolute;
    top: 12px;
  }

  &-Body {
    height: 100%;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  &-Alert {
    width: 100%;
    max-width: 385px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: $font-color_head-text;
    border-radius: 3px;
    background-color: #fff1ca;
    padding: 12px;
  }

  &-Title {
    width: 440px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 25px;
    color: $font-color_head-text;
    font-family: "Open Sans Semibold", sans-serif;
  }

  &-InfoText {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    color: $font-color_head-text;
    font-family: "Open Sans Semibold", sans-serif;
  }
}