.ReferralFilter {
  padding: 12px 24px;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 40px;
}

.ReferralFilter-Btn {
  height: 35px;
  width: 100px;
  margin-top: 14px;
  margin-right: 30px;
  background-color: white;

  &.btn {
    padding: 0;
  }
}

.ReferralFilter-Icon {
  cursor: pointer;
}

.ReferralFilter-Icon_rotated_90 {
  transform: rotate(90deg);
  transition: 0.3s;
}

.ReferralFilter-Icon_rotated_0 {
  transform: rotate(0deg);
  transition: 0.3s;
}