.buildingDetailTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 10px;
}

.afterCodeDetailInfo {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 14px;
    color: #222222;
    line-height: 28px;

    &:first-child {
      font-weight: 500;
    }

    &:last-child {
      max-width: 60%;
      font-weight: 400;
      flex-wrap: wrap;
    }
  }
}

.slick-slider-container {
  height: 200px;
  overflow: hidden;
  background-color: rgb(218, 215, 215);

  margin-top: 10px;

  img {
    min-height: 200px;
  }
}

.slick-dots .slick-active div {
  background: #fff !important; /* 或者您想要的其他颜色 */
}

.slick-dots div {
  background: #ccc!important;
}

.associateRegistered {
  margin-top: 15px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #075AA0;
  border-radius: 4px;
}

.associateUnRegistered {
  margin-top: 15px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #075AA0;
  color: #075AA0;

}

.associateTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  color: #222;
}

.associateService {
  margin: 10px 0;



  .associateServiceList {
    margin-top: 10px;
    border: 1px solid #DDDDDD;
    width: 100%;
    height: 42px;
    color: #222;
    padding: 0 20px;

    line-height: 42px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.associateLanguages {
  margin-top: 20px;

  .associateLanguagesList {
    display: flex;
    align-items: center;
    margin-top: 10px;

    img {
      margin-right: 10px;
    }
  }
}

.associateIntruduction {
  margin-top: 20px;
}

.associateMap {
  height: 250px;
  margin-top: 20px;
}
