@import "custom/_fonts";

.ActionPicker {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.ActionPickerItem {
    font-size: 14px;
    white-space: nowrap;
    color: $font-color_head-text;
    padding: 12px 16px;
    cursor: pointer;
    font-family: "Open Sans Semibold", sans-serif;
    user-select: none;

    &:hover {
        background-color: #f7f7f7;
    }

    &:active {
        background-color: #ececec;
    }
}
