.ProspectDemographicsDetail {
  display: flex;

  &-Title {
    flex: 1;
    font-weight: 600;
    min-width: 120px;
    text-transform: uppercase;
  }

  &-Value {
    flex: 3;
  }

  &-Section {
    &Title {
      font-size: 14px;
      margin-bottom: 30px;
      text-transform: uppercase;
      font-family: "Open Sans Semibold", sans-serif;
    }
  }
}