@import "custom/_fonts";

.CheckboxField {
  display: flex;
  position: relative;

  &:hover  {
    cursor: pointer;
  }

  &.form-group {
    padding-top: 5px;
    margin-bottom: 0;
  }
}

.CheckboxField-Label {
  color: $font-color_head-text;
  font-size: $font-size_form-field-value;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 3px;
  font-family: "Open Sans", sans-serif;

  &.form-label {
    margin-bottom: 3px;
  }
}

.CheckboxField-Radio {
  .CheckboxField-Checkbox {
    border-radius: 13px;
  }

  .CheckboxField-CheckMark {
    top: 8px;
    width: 9px;
    height: 9px;
    border: none;
    transform: none;
    border-radius: 4px;
    background-color: #0064ad;
  }
}

.CheckboxField-Checkbox {
  flex: 0 0 auto;
  display: inline-block;
  position: relative;
  height: 27px;
  width: 27px;
  min-width: 27px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  vertical-align: middle;

  &__Error {
    border-color: #dc3545;
  }
}

.CheckboxField-CheckMark {
  left: 8px;
  position: absolute;
  top: 4px;
  width: 9px;
  height: 15px;
  border: solid #0064ad;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.CheckboxField_disabled {
  .CheckboxField-Label {
    color: #898989;
  }

  .CheckboxField-Checkbox {
    background-color: #f1f1f1;
  }

  .CheckboxField-CheckMark {
    border: solid #bfbdbd;
    border-width: 0 3px 3px 0;
  }
}

.CheckboxField-Error {
  position: absolute;
  left: 15px;
  bottom: -22px;
  font-size: 12px;
  font-weight: normal;
  color: #dc3545;
}