@import "custom/_fonts.scss";

.EventNotificationList {
  .TableMobile-Detail {
    div {
      max-width: initial;
      flex: 1 0 auto;
      padding: 0 15px;
    }
  }

  &-ContactColHeader {
    @media (min-width: 1200px) {
      width: 215px;
    }

    @media (min-width: 1520px) {
      width: 33%;
    }
  }

  @media (min-width: 1200px) and (max-width: 1380px) {
    &-ResponsibilityColHeader {
      width: 120px;
    }

    &-OrganizationColHeader {
      width: 120px;
    }

    &-ChannelColHeader {
      width: 90px;
    }

    &-DateColHeader {
      width: 120px;
    }
  }
}

.EventNotification-ContactAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  display: block !important;

  &-ContactFullName {
    font-weight: 600;
    color: #0064ad;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }
  }

  &-ContactRole {
    color: $font-color_head-text;
    white-space: nowrap;
  }

  &-Hint {
    .tooltip-inner {
      width: 100%;
      max-width: none;
    }

    .arrow {
      left: 15px !important;
    }
  }

  &-ContactButton {
    &_Disabled {
      pointer-events: none;

      .EventNotification-ContactFullName {
        color: $font-color_head-text;
      }
    }
  }
}