.FeatureSwitchField {
  display: flex;
  flex-direction: row;
  padding: 14px 0;
  border: 1px solid #dddddd;
  border-radius: 5px;

  &-Checked, &-Unchecked {
    height: 100%;
    font-size: 11px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &.form-group {
    margin-bottom: 8px;
  }

  &-Label {
    flex: 1;
    color: #222222;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 14px;
    font-family: "Open Sans Semibold", sans-serif;
  }

  &-Description {
    flex: 3;
    font-size: 14px;
    color: #898989;
    padding-left: 14px;
    padding-right: 14px;
  }

  &-SwitchBox {
    padding-left: 14px;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}