.WarningPanel {
    border-radius: 2px;
    border: 1px solid #ffb602;
    display: flex;


    &-IconArea {
        background-color: #ffb602;
        padding: 12px;
        margin-left: -1px;
    }

    &-Icon {
        width: 32px;
        height: 32px;

        path {
            fill: #ffffff;
        }
    }

    &-MessageBox {
        display: flex;
        align-items: center;
    }

    &-Message {
        color: #4c4e51;
        font-size: 15px;
        font-family: "Open Sans Bold", sans-serif;
        font-weight: bold;
        margin-left: 18px;
    }
}
