@import "custom/_fonts";
@import "custom/_page";

.workflow-client-detail-content {
  background-color: #f4f5f5;
  font-family: Poppins, sans-serif;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 120px;

  /* 固定导航栏样式 */
  #sv-nav-complete {
    position: fixed;
    bottom: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 1000;
    right: 0;
  }

  .sv-action__content {
    display: flex;
    justify-content: center; /* 按钮靠右对齐 */
    padding: 0 20px;
  }

  .sv_nav_btn {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .sv_save_btn,
  sv_save_and_continue_btn {
    height: 56px;
    background-color: #2589e5;
    color: #fff;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 0 30px;
  }

  .sv_save_btn:hover,
  sv_save_and_continue_btn:hover {
    background-color: #1577d1;
  }
  .sd-navigation__complete-btn:hover {
    background-color: #1577d1;
  }

  .sd-body.sd-body--static {
    max-width: 100% !important;
    padding: 20px !important;
  }

  .sd-body.sd-body--responsive {
    max-width: 100% !important;
    padding: 20px !important;
  }

  .workflow-detail-top {
    width: 100%;
    height: 113px;
    background: #fff;
    margin: 24px 0;
    padding: 21px;
    box-sizing: border-box;
    position: relative;

    .workflow-right-btn-list {
      position: absolute;
      right: -56px;
      top: 0;

      div {
        margin-bottom: 12px;
      }
    }

    .workflow-detail-top-title {
      font-family: Poppins, sans-serif;
      font-size: 26px;
      font-weight: 500;
      line-height: 39px;
      text-align: left;
    }

    .workflow-detail-top-desc {
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      color: #4c4e51;
    }
  }
}

.feedbackMessageContent {
  width: 100%;
  min-height: 44px;
  padding: 10px 20px;
  background-color: #feebe9;

  color: #f45640;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  .left {
    display: flex;
    align-items: center;
    width: 90%;
    overflow-wrap: anywhere;
    word-break: break-all;
    white-space: normal;
    line-break: anywhere;
  }
}
