<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:*.properties"/>

    <global-method-security order="1" jsr250-annotations="enabled" pre-post-annotations="enabled" secured-annotations="enabled" />

    <http auto-config="false" use-expressions="true" disable-url-rewriting="true" entry-point-ref="loginUrlAuthenticationEntryPoint">
        <intercept-url pattern="/login*" access="permitAll" requires-channel="${requires.channel}"/>
        <intercept-url pattern="/error*" access="permitAll" requires-channel="${requires.channel}"/>
        <intercept-url pattern="/resources/**" access="permitAll" requires-channel="${requires.channel}"/>
        <intercept-url pattern="/version" access="permitAll" requires-channel="${requires.channel}"/>
        <intercept-url pattern="/logs/**" access="hasAnyRole('ROLE_MANAGER','ROLE_SUPER_MANAGE', 'ROLE_SUPER_ADMINISTRATOR')" requires-channel="${requires.channel}"/>
        <intercept-url pattern="/home" access="hasAnyRole('ROLE_SUPER_MANAGER', 'ROLE_SUPER_ADMINISTRATOR')" requires-channel="${requires.channel}"/>
        <intercept-url pattern="/facilities/**" access="hasAnyRole('ROLE_SUPER_MANAGER', 'ROLE_SUPER_ADMINISTRATOR')" requires-channel="${requires.channel}"/>
        <intercept-url pattern="/mpiReport/**" access="hasAnyRole('ROLE_SUPER_MANAGER', 'ROLE_SUPER_ADMINISTRATOR')" requires-channel="${requires.channel}"/>
        <intercept-url pattern="/**" access="hasAnyRole('ROLE_MANAGER','ROLE_SUPER_MANAGER', 'ROLE_SUPER_ADMINISTRATOR')" requires-channel="${requires.channel}"/>
        <logout logout-success-url="/login?logout=true" delete-cookies="JSESSIONID"/>
        <custom-filter position="FORM_LOGIN_FILTER" ref="usernamePasswordAuthenticationFilter"/>
        <access-denied-handler error-page="/error/access-denied"/>
        <session-management invalid-session-url="/"/>
    </http>

    <beans:bean id="loginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:property name="loginFormUrl" value="/login"/>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="authenticationProvider" />
    </authentication-manager>

    <beans:bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="passwordEncoder">
            <beans:bean class="org.springframework.security.crypto.password.StandardPasswordEncoder" />
        </beans:property>
        <beans:property name="userDetailsService" ref="employeeDetailsService" />
    </beans:bean>

    <beans:bean id="employeeDetailsService" class="com.scnsoft.exchange.adt.security.JdbcAuditUserDetailsService">
        <beans:property name="dataSource" ref="springDataSource"/>
    </beans:bean>

    <beans:bean id="usernamePasswordAuthenticationFilter" class="com.scnsoft.exchange.adt.security.ExtraParamAuthenticationFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="filterProcessesUrl" value="/j_spring_security_check" />
        <beans:property name="authenticationFailureHandler" ref="failureHandler" />
        <beans:property name="authenticationSuccessHandler" ref="successHandler" />
        <beans:property name="postOnly" value="true" />
        <beans:property name="usernameParameter" value="username" />
        <beans:property name="passwordParameter" value="password" />
        <beans:property name="extraParameter" value="company" />
    </beans:bean>

    <beans:bean id="successHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler" >
        <beans:property name="defaultTargetUrl" value="/" />
        <beans:property name="alwaysUseDefaultTargetUrl" value="true" />
    </beans:bean>

    <beans:bean id="failureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler" >
        <beans:property name="defaultFailureUrl" value="/login?error=true" />
    </beans:bean>

    <context:property-placeholder location="classpath:datasource.properties"/>
<!--

    <beans:bean id="springDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="${datasource.driverClassName}"/>
        <beans:property name="url" value="${datasource.url}"/>
        <beans:property name="username" value="${datasource.username}"/>
        <beans:property name="password" value="${datasource.password}"/>
    </beans:bean>
-->

    <beans:bean id="springDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <beans:property name="driverClassName" value="${datasource.driverClassName}"/>
        <beans:property name="url" value="${datasource.url}"/>
        <beans:property name="username" value="${datasource.username}"/>
        <beans:property name="password" value="${datasource.password}"/>
        <beans:property name="connectionInitSqls" value="OPEN SYMMETRIC KEY SymmetricKey1 DECRYPTION BY CERTIFICATE Certificate1"/>

    </beans:bean>

    <beans:bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <beans:property name="basenames">
            <beans:list>
                <beans:value>messages</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>
</beans:beans>