@import "custom/_fonts";
@import "custom/_page";

.Client-Workflow {
  @include page;
  background-color: #f4f5f5;

  .workflow-detail-content {
    background-color: #f4f5f5;
    font-family: Poppins, sans-serif;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 100px;

    .feedbackMessageContent {
      width: 100%;
      min-height: 44px;
      padding: 10px 20px;
      background-color: #feebe9;

      color: #f45640;

      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }

      .left {
        display: flex;
        align-items: center;
        width: 90%;
        overflow-wrap: anywhere;
        word-break: break-all;
        white-space: normal;
        line-break: anywhere;
      }

      .right {
        img {
          cursor: pointer;

          &:last-child {
            margin-left: 20px;
          }
        }
      }
    }

    .sv_container {
      max-width: 1280px !important;
    }

    .sv_qstn {
      white-space: pre-line !important;
    }

    .dashed-line-client {
      flex-grow: 1;
      border-top: 1px dashed transparent;
      margin: 0 2px; /* Adjust space around the button */
    }

    .feedback-btn {
      padding: 10px 20px;
      background-color: #e1f6fb !important;
      border: none;
      color: #09a3df !important;
      text-align: center;
      cursor: pointer;
      z-index: 99;
      margin: -10px;
    }

    .sv_select_wrapper:before {
      background-color: #0064ad !important;
    }

    .sv_nav_btn {
      border-color: #0064ad !important;
      height: 35px;
      padding: 0 15px;
      font-size: 15px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
      font-family: "Open Sans Semibold", sans-serif;
      &:hover {
        background-color: #1577d1;
      }
    }

    .sv_save_btn,
    .sv_save_and_continue_btn {
      height: 56px;
      background-color: #2589e5 !important;
      color: #fff;
      margin-left: 10px;
      border: none;
      border-radius: 5px;
      padding: 0 30px;
    }
    .sv_save_btn:hover,
    .sv_save_and_continue_btn:hover {
      background-color: #1577d1;
    }
    .sd-navigation__complete-btn:hover {
      background-color: #1577d1;
    }

    #sv-nav-complete {
      position: fixed;
      background-color: #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      z-index: 1000;
      transition:
        width 0.3s ease,
        right 0.3s ease;
    }
  }
}
