.ESignDocumentTemplateOrganizationForm {
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;

  &-Section {
    padding: 40px 20px;
  }

  &-Buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 25px 40px;
    border-top: 1px solid #dee2e6;
  }
}