.CarouselContainer {
  padding: 0 20px;
  position: relative;
}

.Carousel {
  &.d-carousel {
    position: static;
  }

  .d-carousel__outer {
    margin: 0;
  }

  .d-carousel__inner {
    padding: 0;

    .d-carousel__ul {
      margin: 0;
    }
  }

  .Carousel-Item.d-carousel__item {
    padding: 0;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  .d-carousel__prev,
  .d-carousel__next {
    width: 32px;
    height: 32px;
    border: 1px solid #e0e0e0;
    background: rgba(255, 255, 255, 0.85);

    svg {
      height: 12px;
      width: 7px;
    }
  }

  .d-carousel__prev {
    left: 3px;
    transform: translateY(-50%) rotate(0deg);
  }

  .d-carousel__next {
    right: 3px;
  }

  .d-carousel__next.disabled,
  .d-carousel__prev.disabled {
    opacity: 100%;
  }
}