.CheckboxGroupField {
    position: relative;

    &-Title {
        font-size: 13px;
        font-weight: bold;
        font-family: "Open Sans Semibold", sans-serif;
    }

    &-Body {
        &.form-control {
            border: none;
            height: inherit;
            padding-left: 0;

            &.is-invalid {
                background-image: none;
            }
        }
    }

    &-CheckboxField {
        display: flex;
        padding: 0 !important;

        .Checkbox {
            margin-right: 15px;

            &-Label {
                margin: 0;
            }
        }
    }

    &_row {
        .CheckboxGroupField {
            &-CheckboxField {
                margin: 0 32px 0 0 !important;
            }

            &-Title {
                margin-bottom: 0.5rem;
            }

            &-Body {
                height: 27px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                box-sizing: content-box;

                &.form-control {
                    padding: 3px 0;
                }

                &.is-invalid {
                    background-image: none;
                }
            }
        }
    }

    &-Error {
        position: absolute;
        left: 0;
        bottom: -20px;
        font-size: 12px;
        font-weight: normal;
        color: #dc3545;
    }
}
