@import "custom/_fonts";
@import 'custom/_page';

.Organizations {
  @include page;
}

.OrganizationListContainer {
   margin-top: 25px;
 }

.OrganizationList-Caption {
  padding-bottom: 10px;
}

.OrganizationList-CaptionHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.OrganizationList-Title {
  flex: 1;
  white-space: nowrap;
  position: relative;
  padding-bottom: 10px;
  margin-right: 20px;
}

.OrganizationList-TitleText {
  display: inline-block;
  font-size: 26px;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.OrganizationList-ControlPanel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.OrganizationList-Filter {
  margin-top: 5px;
}

.OrganizationList-FilterFieldIcon {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 24px;
  height: 24px;
  fill: #4C4E51;
}

.OrganizationList-OrganizationName {
  color: #0064ad;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  font-family: "Open Sans Semibold", sans-serif;

  &:hover {
    color: #0064ad;
  }

  &_disabled {
    cursor: default;
  }
}

.OrganizationList-AffiliatedOrganizationCount {
  color: #0064ad;
  cursor: pointer;
  text-decoration: none;
  font-family: "Open Sans Semibold", sans-serif;

  &:focus {
    outline: none;
  }
}

.OrganizationList-CommunitiesColHeader {
  width: 15%;

  @media (max-width: 1400px) {
    width: 120px;
  }
}

.OrganizationList-Vendors-ColHeader {
  width: 10%;

  @media (max-width: 1400px) {
    width: 120px;
  }
}

.OrganizationList-AffiliatedColHeader {
  width: 10%;

  @media (max-width: 1400px) {
    width: 120px;
  }
}

.OrganizationList-AffiliatedOrganizationsColHeader {
  @media (max-width: 1400px) {
    width: 190px;
  }
}

.OrganizationList-CreatedAutomaticallyColHeader {
  @media (max-width: 1400px) {
    width: 180px;
  }
}

.OrganizationList-AffiliatedOrganizations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 200px;
  overflow-y: auto ;
  padding-right: 5px;
}

.OrganizationList-AffiliatedOrganizations::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.OrganizationList-AffiliatedOrganizations::-webkit-scrollbar-thumb {
  background-color: #4ba4e8 !important;
  border-radius: 4px;
}

.OrganizationList-AffiliatedOrganizations::-webkit-scrollbar {
  width: 8px;
}

.OrganizationList-AffiliatedOrganizations::-webkit-scrollbar-thumb:horizontal {
  border: 2px solid orange;
}

.OrganizationList-AffiliatedOrganizations::-webkit-scrollbar-thumb:hover {
  background-color: purple;
}


.OrganizationList-AffiliatedOrganization {
  padding: 5px;
  text-align: left;
}

.OrganizationList-AffiliatedOrganizationName {
  color: #0064ad;
  cursor: pointer;
  text-decoration: none;
  font-family: "Open Sans Semibold", sans-serif;

  &:hover {
    color: #0064ad;
  }
}
