.ReferralRequestEditor {
  &.modal-dialog {
    max-width: 1040px;
  }

  .modal-content {
    border: none;
  }
}

.ReferralRequestEditor-SuccessDialog {
  .Dialog-Text {
    text-align: center;
  }
}
