.SearchField {
  &-Disabled {
    .SearchField-Label {
      color: #898989;
    }
  }

  &-Label {
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    font-family: "Open Sans Semibold", sans-serif;
  }

  &-Error {
    font-size: 12px;
    font-weight: normal;
    color: #dc3545;
  }
}
