.ContactPermissionPicker {
    &.modal-dialog {
        max-width: 1040px;
    }

    .modal-content {
        border: none;
    }

    &-Content {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }
}
