@import "custom/_fonts.scss";

.LoadingDialog {
  &-Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 270px;
    text-align: center;

    &.modal-body {
      padding: 30px 40px;
    }
  }

  &-Icon {
    height: 35px;
    width: 55px;

    &Container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &-Text {
    margin-top: 20px;
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 16px;
    color: $font-color_head-text;
    overflow-wrap: break-word;
  }
}