@import "custom/_fonts";

.ConversationInfoBox {
  user-select: none;
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  cursor: pointer;
  background-image: linear-gradient(to right, #bfbdbd 15%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 5px 2px;
  background-repeat: repeat-x;

  @media (max-width: 667px) {
    padding: 10px 0;
  }

  &_selected {
    .ConversationInfoBox-ParticipantNames {
      font-family: "Open Sans Semibold", sans-serif;
    }
  }
}

.ConversationInfoBox-Content {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1;
}

.ConversationInfoBox-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;

  @media (max-width: 667px) {
    margin-bottom: 2px;
  }
}

.ConversationInfoBox-Body {
  display: flex;
  justify-content: space-between;
  min-width: 0;
}

.ConversationInfoBox-Avatar {
  --size: 50px;

  @media (max-width: 1024px) {
    --size: 32px;

    .Avatar-Initials {
      font-size: 12px;
    }
  }

  @media (max-width: 667px) {
    --size: 40px;

    .Avatar-Initials {
      font-size: 14px;
    }
  }

  width: var(--size);
  height: var(--size);

  .Avatar-StatusIndicator {
    @media (max-width: 1024px) {
      width: 12px;
      height: 12px;
      right: -1px;
      bottom: -1px;
    }
  }

  .sb-avatar__text {
    & > div {
      margin-top: 2px;
    }
  }
}

.ConversationInfoBox:hover,
.ConversationInfoBox_highlighted {
  background-color: rgba(105, 180, 241, 0.12);
}

.ConversationInfoBox_hidden {
  display: none;
}

.ConversationInfoBox-ParticipantNames {
  color: $font-color_head-text;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media (max-width: 667px) {
    font-size: 14px;
    font-family: "Open Sans Semibold", sans-serif;
  }
}

.ConversationInfoBox-HighlightedText {
  background-color: #fff1ca;
  padding: 0;
  border-radius: 2px;
}

.ConversationInfoBox-LastMessage {
  color: $font-color_head-text;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.ConversationInfoBox-LastMessageTypeIcon {
  margin-right: 6px;
}

.ConversationInfoBox-DateBox {
  display: flex;
}

.ConversationInfoBox-LastMessageDate {
  flex: 0 0 auto;
  font-size: 12px;
  color: #898989;
  font-family: "Open Sans", sans-serif;

  @media (max-width: 1024px) {
    font-size: 11px;
  }
}

.ConversationInfoBox-UnreadMessageCount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  margin-bottom: 4px;

  &Badge {
    font-size: 12px;
    border-radius: 12px;
    padding: 4px 7px;
    background-color: #03b6f3;
    color: #ffffff;
    line-height: 1;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
  }
}

.ConversationInfoBox-Action {
  &.btn {
    height: auto;
    padding: 2px 8px;
    font-size: 12px;
  }
}