.gm-style {
  .gm-style-iw-a {
    .gm-style-iw-t {
      bottom: 55px !important;

      .gm-style-iw {
        padding: 16px 0 !important;
        max-width: 400px !important;

        .gm-style-iw-d {
          padding: 0 24px 0 36px !important;

          & + button {
            display: none !important;
          }
        }
      }
    }
  }
}

.Map {
  width: 100%;
  height: 100%;
}

.Map-MarkerLabelText {
  width: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.Map-CurrentLocationBtn {
  width: 40px;
  height: 40px;
  margin: 10px;
  padding: 12px;
  background: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
}

.ToCurrentLocation {
  width: 18px;
  height: 18px;
}