@import "custom/_fonts";

.ClientServicePlanSummary {
  &-Title {
    color: $font-color_head-text;
    font-size: 22px;
    font-family: "Open Sans Semibold", sans-serif;
    margin-bottom: 20px;
  }

  &-Header {
    display: flex;
    justify-content: space-between;
  }

  &-ScoringInfoIconToggle {
    top: -5px;
    left: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
  }

  &-ScoringInfoHint {
    padding: 0;
    opacity: 1;
    z-index: 1;

    &Arrow {
      z-index: -1;
      background-color: #1e3352;
    }
  }

  &-ViewAllBtn {
    &.btn {
      padding-top: 0;
      padding-bottom: 0;
      height: 35px;
    }
  }

  &-NeedDomainScoring {
    position: relative;
  }

  &-Needs {
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &-Need {
    @media (min-width: 1200px) {
      &:nth-child(odd) {
        width: calc(50% - 30px);
        margin-right: 30px;
      }

      &:nth-child(even) {
        width: calc(50% - 30px);
      }
    }

    display: flex;
    padding: 24px;
    flex-direction: row;
    min-width: calc(50% - 15px);
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin-bottom: 25px;
  }

  &-NeedSummary {
    max-width: 100%;
  }

  &-NeedIndicator {
    width: 16px;
    margin-right: 15px;
  }

  &-NeedIndicator_color_green {
    background-color: #53b865;
  }

  &-NeedIndicator_color_yellow {
    background-color: #ffd529;
  }

  &-NeedIndicator_color_red {
    background-color: #f36c32;
  }

  &-NeedTitle {
    font-size: $font-size_detail-value-text;
    font-weight: bold;
    color: $font-color_head-text;
    font-family: "Open Sans", sans-serif;
  }

  &-NeedDomain {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    color: $font-color_head-text;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 15px;
  }

  &-NeedDomainScoringValue {
    font-size: 20px;
    font-weight: bold;
    color: $font-color_head-text;
    letter-spacing: 0.5px;
    font-family: "Open Sans", sans-serif;
  }

  &-ScoringInfoIcon {
    margin-left: 5px;
    margin-top: -10px;
  }

  &-Goals {
    margin-top: 30px;
  }

  &-Goal {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-GoalTitle {
    display: flex;
    font-size: $font-size_detail-value-text;
    color: $font-color_head-text;
  }

  &-GoalTitleText {
    flex: 1;
    margin-right: 20px;
  }

  &-GoalProgressBar {
    width: 100%;
    margin-top: 10px;

    .progress-bar {
      height: 16px;
      background-color: #d5f3b8;
    }
    &.progress {
      border-radius: 10px;
    }
  }
}