<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dboDtoMapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>dozer-ccd.xml</value>
                <value>dozer-scansol.xml</value>
            </list>
        </property>
        <property name="customConvertersWithId">
            <map>
                <entry key="custodianConverterId" value-ref="custodianConverter"/>
            </map>
        </property>
    </bean>

    <bean id="custodianConverter" class="com.scnsoft.eldermark.shared.ccd.converters.CustodianOrganizationConverter"/>
</beans>