.BuildingDirectoryWarp {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  //row-gap: 30px;
  //column-gap: 20px;
  padding-top: 20px;

  gap: 20px;

}

.BuildingDirectoryBox {
  width: 100%;

  //width: 288px;
  //height: 325px;
  border: 1px solid #dddddd;
  overflow: hidden;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buildingCenter {
    margin-top: 15px;
    flex: 1;
  }

  .buildingImg {
    width: 100%;
    height: 143.48px;
    //object-position: 50% 50%;
  }

  .buildingName {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #222222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
  }

  .buildingAddress {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;

    .buildingZipCode {
      color: #4991df;
    }
  }

  .buildingPhone {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 2px;
  }

  .buildingButton {
    display: flex;
    //justify-content: space-between;
    flex-direction: column;
    gap: 15px;

    div {
      //width: 117px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #9d9d9d;
      border-radius: 5px;
      //cursor: not-allowed;
      cursor: pointer;
    }

    .buildingSend {
      //background-color: #9d9d9d;
      color: #fff;
    }

    .buildingRefer {
      cursor: pointer;
    }

    @media (min-width: 1790px) {
      gap: 2px;
      flex-direction: row;
      justify-content: space-between;

      .buildingRefer {
        flex: 1 0 calc((100% - 55px) / 2);
        margin-top: 5px;
      }

      .buildingSend {
        margin-top: 5px;
        flex: 1 0 calc((100% - 5px) / 2);
      }
    }

  }


  @media (min-width: 648px) {
    flex: 1 0 calc((100% - 20px) / 2);
    max-width: calc((100% - 20px) / 2);
  }

  @media (min-width: 1024px) {
    flex: 1 0 calc((100% - 60px) / 4);
    max-width: calc((100% - 60px) / 4);
  }

  @media (min-width: 1536px) {
    flex: 1 0 calc((100% - 100px) / 6);
    max-width: calc((100% - 100px) / 6);
  }
}

.empty-box {
  width: 100%;
  text-align: center;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .empty-img {
    width: 200px;
    height: 200px;
  }

  .empty-text {
    font-size: 16px;
    text-align: center;
    color: #8a8a8a;
  }
}


