.buildingDetailWrap {
  padding: 20px 34px;
  font-family: "Open Sans Semibold", sans-serif;
  margin-bottom: 60px;
}


.buildingDetailBox {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1400px) {
    display: block;
  }

  .buildingDetailLeft {
    width: 100%;
    box-shadow: 0 4px 8px 0 #8E939C40;
    border-top: 5px solid #233250;
    padding: 20px 30px;

    @media screen and (max-width: 1400px) {
      width: 100%;
    }

    .detailHeader {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 20px;

      @media screen and (max-width: 500px) {
        flex-direction: column;
      }

      .detailHeaderLeft {
        font-size: 36px;
        font-weight: 500;
        line-height: 54px;
      }

      .detailHeaderRight {
        display: flex;
        gap: 20px;

        div {
          width: 100px;
          height: 36px;
          cursor: not-allowed;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 6px;

          &:first-child {
            border: 1px solid #9d9d9d;
            color: #9d9d9d;
          }

          &:last-child {
            color: #fff;
            border: 1px solid #9d9d9d;
            background-color: #9d9d9d;
          }
        }
      }
    }

  }

}

.detailInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 126px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;

  @media screen and (max-width: 1000px) {
    display: block;
    width: 100%;
  }

  .detailInfoLeft {
    display: grid;
    grid-template-columns:1fr 1fr;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        color: #222222;
      }

      &:last-child {

        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
        }
      }
    }
  }

  .detailInfoRight {
    width: 100%;
    flex: 1;
    display: flex;

    img {
      max-width: 100%;
      height: 100%;
    }

    .detailInfoRightImgLeft {
      flex: 2;


      @media screen and (max-width: 660px) {
        flex: 1;
        //width: 545px;

        img {
          width: 100%;
          height: auto;
        }
      }

    }

    .detailInfoRightImgRight {
      margin-left: 20px;
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;

      @media screen and (max-width: 660px) {
        display: none;
      }

      @media screen and (min-width: 1000px) {
        margin-left: 10px;
      }


      div {
        height: 100%;
      }

      img {
        height: 100%;
      }
    }
  }
}

.detailService {
  margin-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;

  .detailServiceTitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    color: #222;

    margin-bottom: 10px;
  }

  .detailSeriveWrap {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;


    .detailServiceDetail {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;

      color: #222;
      border: 1px solid #DDDDDD;

      padding: 10px 10px;

      @media screen and (max-width: 500px) {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }
    }
  }


}

.detailLanguages {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;

  .detailLanguagesTitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #222;
  }

  .detailLanguagesDetails {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;

    .detailLanguagesDetail {
      display: flex;
      align-items: center;


      img {
        width: 12px;
        height: 12px;
      }

      span {
        margin-left: 10px;
      }
    }
  }


}

.detailIntroduction {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
  width: 1206px;
  word-wrap: break-word
}

.detailMap {
  height: 567px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.searchList {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.paginationBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 10px;
}


.SearchBox {
  width: 288px;
  height: 325px;
  border: 1px solid #DDDDDD;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .searchCenter {
    margin-top: 15px;
    flex: 1;
    //padding: 20px 0 0;
    display: grid;
    grid-template-columns: 1fr; /* 1列 */
    grid-template-rows: 1fr 1fr 1fr; /* 3行 */
    gap: 10px; /* 可选：定义网格间的间隙 */
  }

  .searchImg {
    width: 100%;
    height: 143.48px;
  }

  .searchName {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #222222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .searchAddress {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .searchZipCode {
      color: #4991DF;
    }
  }

  .searchPhone {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  .searchButton {
    display: flex;
    justify-content: space-between;

    div {
      width: 117px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #222;
      border-radius: 5px;
      cursor: pointer;
    }

    .searchSend {
      background-color: #9d9d9d;
      color: #fff;
      border-color: #9d9d9d;
      cursor: not-allowed;
    }

    .searchRefer {
      background-color: #fff;
      color: #9d9d9d;
      border-color: #9d9d9d;
      cursor: not-allowed;
    }

  }

}
