.SavedCommunities {
    flex: 1;
    padding: 0 35px 20px;
    position: relative;

    @media (max-width: 667px) {
        padding: 0 17px;
    }

    &-Navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-MinimizeBtn {
        cursor: pointer;
        fill: #0064ad;
    }

    &-Header {
        margin-bottom: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
    }

    &-Title {
        flex: 1 1;
        padding-bottom: 10px;
        margin-right: 20px;
    }

    &-TitleText {
        position: relative;
        font-size: 26px;
        color: #4c4e51;
        white-space: nowrap;
        font-family: "Open Sans Semibold", sans-serif;
    }

    &-Grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(383px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 30px;
    }

    &-Col {
        position: relative;
    }
}
