.AssessmentVisibilityForm {
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;

  &-Section {
    padding: 20px 40px 20px;
  }

  &-SectionTitle {
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Open Sans Semibold", sans-serif;
  }

  &-Alert {
    width: 100%;
  }

  &-TextArea {
    textarea.TextField-Input.form-control {
      height: 120px;
    }
  }

  &-Button {
    width: 100px;
    height: 35px;
    margin-top: 30px;

    &.btn {
      padding: 0;
    }
  }

  &-Buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dee2e6;
    padding: 20px 25px 40px;

    .btn {
      padding: 0;
      width: 100px;
      height: 35px;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
