.ProspectFilter {
  width: 100%;
  padding: 12px 24px;
  background-color: #f9f9f9;

  .btn {
    padding: 0;
    width: 100px;
    height: 35px;
    margin-top: 14px;
    margin-right: 30px;
  }

  &-Icon {
    cursor: pointer;
    margin-left: 10px;

    &_rotated {
      &_90 {
        transform: rotate(90deg);
        transition: 0.3s;
      }

      &_0 {
        transform: rotate(0deg);
        transition: 0.3s;
      }
    }
  }
}