@import "custom/_fonts";

.ResetPassword {
  flex: 1;
  display: flex;
  background: #ffffff;
  align-items: flex-start;
  justify-content: center;
  padding: 5% 0;
}

.ResetPassword-InfoText {
  max-width: 600px;
  font-size: 18px;
  margin-bottom: 25px;
}

.ResetPassword-Title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 25px;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.ResetPassword-Body {
  display: flex;
  flex-direction: row;
  padding: 0 16px;

  @media (max-width: 869px) {
    flex-direction: column;
  }
}

.ResetPasswordForm {
  max-width: 350px;
}

.ResetPassword-LogoImage {
  width: 220px;
  height: 76px;
  margin-right: 50px
}

.ResetPasswordForm-Btns {
  margin-top: 30px;
}

.ResetPasswordForm-Btn {
  &.btn {
    padding: 0;
  }

  margin-right: 24px;
  width: 130px;
  height: 35px;
}