.Messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 16px 20px;

  @media (max-width: 1024px) {
    padding: 0;
  }

  &-Footer {
    @media (max-width: 1024px) {
      display: none;
    }

    @media (max-width: 667px) {
      display: block;
      padding: 12px 0;

      .Footer-LogoFallback {
        display: none;
      }

      .Footer-Copyright {
        font-size: 11px;
        height: auto;
        display: block;
        text-align: center;
        flex: 1;
      }
    }
  }
}
