@import "custom/_fonts";

.Alert {
  margin: 15px 0;
  border: 1px solid;
  display: flex;
  border-radius: 2px;
  flex-direction: row;
}

.SuccessAlert {
  border-color: #53b865;
}

.SuccessAlert-Indicator {
  background-color: #53b865;
}

.WarningAlert {
  border-color: #ffb602;
}

.WarningAlert-Indicator {
  background-color: #ffb602;
}

.DangerAlert {
  border-color: #f33232;
}

.DangerAlert-Indicator {
  background-color: #f33232;
}

.RedMarkAlert {
  border-color: #f45640;
}

.RedMarkAlert-Indicator {
  background-color: #f45640;
}

.YellowMarkAlert {
  border-color: #f4b940;
}

.YellowMarkAlert-Indicator {
  background-color: #f4b940;
}

.GreenMarkAlert {
  border-color: #1cbab0;
}

.GreenMarkAlert-Indicator {
  background-color: #1cbab0;
}

.Alert-Indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
}

.Alert-Icon {
  fill: #ffffff;
  width: 48px;
  height: 48px;
}

.Alert-Body {
  flex: 1;
  padding: 12px 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Alert-Title {
  color: $font-color_head-text;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.Alert-Text {
  color: $font-color_head-text;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
}