@import "custom/_fonts";

.DomainsSelectionForm {
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
}

.DomainsSelectionForm-Section {
    padding: 20px 40px 20px;
}

.DomainsSelectionForm-SectionTitle {
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Open Sans Semibold", sans-serif;
}

.DomainsSelectionForm-Buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dee2e6;
    padding: 20px 25px 40px;

    .btn {
        padding: 0;
        width: 120px;
        height: 35px;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.DomainsSelectionForm-Label {
    font-size: 13px;
    font-weight: bold;
    color: $font-color_head-text;
    font-family: "Open Sans Semibold", sans-serif;
    margin-bottom: 15px;
}

.DomainsSelectionForm-CheckboxField {
    .CheckboxField-Label {
        font-size: 13px;
    }

    &.form-group {
        margin-bottom: 20px;
    }

    .CheckboxField-Error {
        left: 0;
    }
}
