@import "custom/_fonts";

.FileField {
  position: relative;
  padding-bottom: 20px;

  &.form-group {
    margin-bottom: 10px;
  }

  &_disabled {
    .FileField-Label {
      color: #898989;
    }

    .FileField-SelectedFile.form-control {
      background-color: #f1f1f1;
    }
  }
}

.FileField-Label{
  font-size: 13px;
  font-weight: bold;
  font-family: "Open Sans Semibold", sans-serif;
}

.FileField-Input.form-control {
  display: none;
}

.FileField-SelectedFile.form-control {
  height: 35px;
  border-radius: 2px;
  border: 1px solid #dddddd;
  font-size: $font-size_form-field-value;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.is-invalid {
    border-color: #dc3545;
    background-image: none;
  }
}

.FileField-Placeholder.form-control {
  color: $font-color_placeholder;
}

.FileField-BrowseBtn.btn {
  margin-left: 24px;
  font-size: 14px;
  height: 35px;
  border-radius: 5px;
  padding: 6px 16px;
}

.FileField-RemoveBtn.btn {
  margin-left: 24px;
  font-size: 14px;
  height: 35px;
  border-radius: 5px;
  padding: 6px 16px;
}

.FileField-Hint {
  position: absolute;
  left: 0;
  font-size: 12px;
  color: #898989;
}

.FileField-ErrorHint {
  @extend .FileField-Hint;
  color: #dc3545;
}