.FileFieldModal {
  height: 600px;
  top: 120px;


  .Modal-Footer.modal-footer {
    padding: 10px 20px;
  }

  .reactEasyCrop_Container {
    top: 10px;
    left: 10px; /* 增加10px间距 */
    right: 10px; /* 增加10px间距 */
    bottom: 60px;

  }
}

.image-crop-container {
  width: 100%;
  height: 100%;

  .OperationButton {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-right: 10px;
    padding-top: 430px;
  }
}

