.ScoringHint {
  &:after {
    content: " ";
    top: 10px;
    right: 100%;
    border: 6px solid;
    margin-top: -5px;
    position: absolute;
    border-color: transparent #1e3352 transparent transparent;
  }

  top: 5px;
  display: block;
  left: 40px;
  z-index: 1;
  position: absolute;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
}