@import "custom/_fonts";
@import "custom/_mixins";

.SectionSummary {
  padding: 0 20px 20px 20px;

  &-Image {
    max-width: 360px;
    min-height: 50px;
    max-height: 200px;
    text-align: center;
    @include clear-image();
  }

  &-Title {
    line-height: 1;
    color: $font-color_head-text;
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans Bold", sans-serif;
  }

  &-Description {
    font-size: 15px;
    color: #292929;
  }

  &-Actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-Action {
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }
  }
}