@import "custom/_fonts";

.CareTeamMemberForm {
  min-height: 510px;
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;

  .Scrollable {
    flex: 1 1 0%;
  }

  .SelectField-MultiSelect {
    padding: 5px 12px;
  }

  .MultiSelect-Toggle {
    padding: 0;
  }

  .Loader {
    &_has_backdrop {
      .LoaderImg {
        top: auto;
        position: fixed;
      }
    }
  }
}

.CareTeamMemberForm-Section {
  padding: 20px 40px 20px;

  &__AllEvents {
    .CareTeamMemberForm-SectionTitle {
      margin-bottom: 0;
    }

    .NotificationPreference-Title {
      padding-top: 30px;;
    }
  }
}

.CareTeamMemberForm-SectionTitle {
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Open Sans Semibold", sans-serif;
  color: $font-color_head-text;
}

.CareTeamMemberForm-FilterFieldIcon {
  top: 45px;
  right: 10px;
  width: 24px;
  height: 24px;
  fill: #4C4E51;
  position: absolute;
}

.CareTeamMemberForm-LabelIcon {
  margin-bottom: 4px;
  margin-left: 4px;
}

.CareTeamMemberForm-Title {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.CareTeamMemberForm-Wrapper {
  margin-bottom: 30px;
}

.CareTeamMemberForm-Buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #dee2e6;
  padding: 20px 25px 40px;

  .btn {
    padding: 0;
    width: 100px;
    height: 35px;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}

//.CareTeamMemberForm-SelectField {
//  &.RestrictedHeight {
//    .MultiSelect-Options {
//      height: 246px;
//    }
//  }
//}
