@import "custom/_fonts";

.Invitation {
  flex: 1;
  display: flex;
  background: #ffffff;
  align-items: flex-start;
  justify-content: center;
  padding: 5% 0;
}

.Invitation-InfoText {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

.Invitation-SimplyConnectLink, .Invitation-SimplyConnectPolicyLink {
  color: #0064ad;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
  font-family: "Open Sans Semibold", sans-serif;

  &:hover {
    text-decoration: none;
    color: #0064ad;
  }
}

.Invitation-EmailText {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.Invitation-Title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 5px;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.Invitation-Body {
  display: flex;
  flex-direction: row;
  padding: 0 16px;

  @media (max-width: 869px) {
    flex-direction: column;
  }
}

.Invitation-LogoImage {
  width: 220px;
  height: 76px;
  margin-right: 50px
}

.Invitation-PasswordComplexityRules {

}

.Invitation-Text {
  margin-bottom: 10px;
  font-size: 12px;
  color: $font-color_head-text;
}

.Invitation-Detail {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.Invitation-DetailIcon {
  fill: #03b6f3;
  flex: none;
}

.Invitation-DetailText {
  font-size: 12px;
  margin-left: 10px;
  color: $font-color_head-text;
}

.Invitation-Btn {
  &.btn {
    padding: 0;
  }

  margin-right: 30px;
  width: 100px;
  height: 35px;
}

.Invitation-AcceptBtnText {
  font-size: 9px;
  margin-bottom: 20px;
}

.Invitation-SuccessText {
  text-align: center;
  margin-bottom: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: $font-color_head-text;
}