.LabResearchOrderFilter {
  width: 100%;
  padding: 12px 24px;
  background-color: #f9f9f9;

  .btn {
    padding: 0;
    width: 100px;
    height: 35px;
    margin-top: 35px;
  }
}

.LabResearchOrderFilter-Icon {
  cursor: pointer;
}

.LabResearchOrderFilter-Icon_rotated_90 {
  transform: rotate(90deg);
  transition: 0.3s;
}

.LabResearchOrderFilter-Icon_rotated_0 {
  transform: rotate(0deg);
  transition: 0.3s;
}