.MatchedClients {
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.21);
}

.MatchedClientList {
  border-radius: 4px ;

  &.Table {
    margin-bottom: 0;
    border-spacing: 0 5px;

    caption {
      display: none;
    }

    tbody {
      & > tr {
        &.odd {
          background-color: #F9F9F9;
        }
        &.even {
          background-color: #F9F9F9;
        }

        td:last-of-type {
          padding-right: 3rem;
        }
      }
    }

    &.table-hover {
      tbody {
        & > tr:hover {
          background-color: rgba(0,0,0,.075);
        }
      }
    }

    th, thead {
      visibility: collapse
    }
  }

  &-ClientAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    @media (max-width: 375px) {
      display: none !important;
    }

    &__black-white {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  &-ClientName {
    color: #0064ad;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
    font-family: "Open Sans Semibold", sans-serif;

    &:hover {
      color: #0064ad;
    }
  }
}