.DayEventLayoutGrid {
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-left: 75px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  &-Cell {
    position: relative;
  }

  .CalendarEvent {
    left: 0;
    right: 0;
    position: absolute;
  }
}