.PicturePreview {
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 216px;
    height: 216px;
    object-fit: cover;

    &-Container {
        position: relative;
        width: 216px;
        height: 216px;

        &:hover {
            .PicturePreview-ZoomIn {
                display: block;
            }
        }
    }

    &-AbsolutePositionedIcon {
        display: flex;
        position: absolute;
        top: 0;
        right: -19px;
    }

    &-Loader {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        align-items: center;

        .LoaderImg {
            top: calc(50% - 15px);
        }

        .Loader-Backdrop {
            opacity: 0
        }
    }
}

.PictureViewer {
    @media (max-width: 1024px) {
        &.Modal {
            padding: 0;
        }

        &.Modal.modal-dialog {
            max-width: 100%;
        }
    }

    @media (min-width: 576px) {
        &.Modal.modal-dialog {
            max-width: 1040px;
        }
    }

    &-Buttons {
        display: flex;
        align-items: center;
    }

    &-Button {
        width: 24px;
        height: 24px;
        cursor: pointer;

        path {
            fill: #4c4e51;
        }

        g {
            stroke: #4c4e51;
        }

        @media (max-width: 1024px) {
            path {
                fill: white;
            }
    
            g {
                stroke: white;
            }
        }
    }

    &-CrossIcon {
        width: 20px;
        height: 20px;
    }

    .modal-content {
        .modal-header {
            padding: 8px 16px;

            @media (max-width: 1024px) {
                border-radius: 0;
                background-color: black;
                padding: 20px 16px;
            }
        }

        .modal-body {
            background-color: black;
            overflow: auto;
            display: grid;

            img {
                margin: auto;
                max-width: 100%;
            }
        }

        .modal-footer {
            display: none;
        }
    }
}
