.ConversationParticipantPicker {
    .Modal-Body.modal-body {
        overflow: visible;
    }

    @media (min-width: 576px) {
        &.modal-dialog {
            max-width: 1040px;
        }

        .modal-content {
            border: none;
            max-height: 400px;
        }

        &_size {
            &_sm {
                &.modal-dialog {
                    max-width: 600px;
                }
            }
        }
    }
}
