@import "custom/_fonts";

.AppointmentChangeHistoryContainer {
  padding: 20px 40px 0;
}

.AppointmentChangeHistory {
  &.Table.table {
    caption {
      padding-top: 0;
    }
  }


  &-Caption {
    padding-bottom: 30px;
  }

  &-Title {
    font-size: 26px;
    font-weight: bold;
    color: $font-color_head-text;
    font-family: "Open Sans Semibold", sans-serif;
  }
}

.AppointmentChange-ViewBtn {
  &.btn {
    color: #0064ad;
    text-decoration: none;
    padding-left: 0 !important;

    &:hover {
      color: #0064ad;
    }
  }
}