@import "custom/_fonts";

.ClientServicesCostComposedChart {

  .recharts-default-legend {
    .recharts-legend-item {
      margin-right: 30px !important;

      .recharts-surface {
        margin-right: 10px !important;
      }

      .recharts-legend-item-text {
        color: $font-color_head-text !important;
        font-size: $font-size_chart-legend-text;
        font-family: "Open Sans", sans-serif;
      }
    }
  }

  .xAxis, .yAxis {
    .recharts-cartesian-axis-ticks {
      .recharts-cartesian-axis-tick {
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 13px;
      }
    }
  }
}

.ClientServicesCostComposedChart-Title {
}

.ClientServicesCostComposedChart-TitleText {
  display: flex;
  align-items: flex-end;
}

.ClientServicesCostComposedChart-Body {
  padding: 35px 0 35px 0;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.11);
}