@import "custom/_fonts";

.DateField {
  .form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
  }

  .form-control {
    &:disabled {
      background-color: #f1f1f1;
      color: #898989;
    }
  }

  .react-datepicker__input-container, .react-datepicker-wrapper {
    width: 100%;
  }

  &.DateField_disabled {
    .DateField-Label {
      color: #898989;
    }
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    &:hover {
      background-color: #0064ad;
    }

    color: #ffffff;
    background-color: #0064ad;
  }

  .react-datepicker {
    display: flex;
    border-radius: 2px;
    border: 1px solid #bfbdbd;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);

    &.react-datepicker--time-only {
      border-radius: 0;

      .react-datepicker__time,
      .react-datepicker__time-box {
        border-radius: 0;
      }
    }

    .react-datepicker__month-container {
      .react-datepicker__header {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }
    }

    .react-datepicker__time-container {

      .react-datepicker-time__header {
        padding-bottom: 24px;
      }

      .react-datepicker__time {

        .react-datepicker__time-box {
          width: 84px;
          margin: 0;

          ul.react-datepicker__time-list {
            li.react-datepicker__time-list-item {
              height: auto;
              padding: 13px 15px;
            }

            .react-datepicker__time-list-item--selected {
              &:hover {
                background-color: #0064ad;
              }

              background-color: #0064ad;
            }
          }
        }
      }
    }
  }

  position: relative;

  &.DateField_timeSelectViewMode_dropdown {
    .react-datepicker__header.react-datepicker__header--time {
      display: none;
    }

    .react-datepicker-popper {
      .react-datepicker {
        .react-datepicker__triangle {
          display: none;
        }
      }
    }

    .react-datepicker-popper[data-placement^="bottom"] {
      margin-top: 0;
    }
  }
}

.DateField.mb-3 {
  margin-bottom: 20px !important;
}

.DateField-Label{
  color: $font-color_head-text;
  font-size: 13px;
  font-weight: bold;
  font-family: "Open Sans Semibold", sans-serif;
}

.DateField-Input {
  &.form-control {
    height: 35px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    font-size: $font-size_form-field-value;
    color: $font-color_head-text;

    &:focus {
      border-color: #898989;
      background-color: #ffffff !important;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    &:hover {
      border-color: #bfbdbd;
    }

    &:-webkit-autofill {
      background-color: #ffffff;
      -webkit-box-shadow: 0 0 0 1000px #fff inset;

      &:focus {
        background-color: #ffffff;
        -webkit-box-shadow: 0 0 0 1000px #fff inset;
      }
    }

    &::placeholder {
      color: $font-color_placeholder;
    }

    &.is-invalid {
      border-color: #f33232;
    }
  }
}

.DateField-Error {
  position: absolute;
  left: 0;
  font-size: 12px;
  font-weight: normal;
  color: #dc3545;
}

.DateField-Hint {
  position: absolute;
  left: 0;
  font-size: 13px;
  color: #898989;
}

.DateField-CalendarIcon {
  position: absolute;
  height: 14px;
  width: 14px;
  right: 10px;
  bottom: 10px;
  cursor: text;
}