#* @vtlvariable name="formattedDate" type="java.lang.String" *#
#* @vtlvariable name="dto" type="com.scnsoft.eldermark.dto.notification.DemoRequestSubmittedNotificationDto" *#
<div>
    <b>Dear Support Team,</b>
    <br><br>
    A new ticket has been submitted:
    <ul>
        <li>Date & Time: ${formattedDate}</li>
        <li>Organization name: ${dto.authorOrganizationName}</li>
        <li>Name: ${dto.authorName}</li>
        #if($dto.authorPhoneNumber && !$dto.authorPhoneNumber.blank)
            <li>Phone number: ${dto.authorPhoneNumber}</li>
        #end
        <li>Demo request: ${dto.demoTitle}</li>
    </ul>
</div>
