#* @vtlvariable name="subject" type="java.lang.String" *#
#* @vtlvariable name="requestDateTime" type="java.lang.String" *#
#* @vtlvariable name="services" type="java.lang.String" *#
#* @vtlvariable name="dto" type="com.scnsoft.eldermark.dto.AppointmentMailDto" *#
#* @vtlvariable name="appointmentDate" type="java.lang.String" *#
#* @vtlvariable name="logoBase64" type="java.lang.String" *#
<html>
<head>
    #set( $labelStyle =
        "style=""font-weight: 600; position: relative; min-height: 1px; width: 35%; float: left; margin: 20px 0; font-family: 'Open Sans Semibold', sans-serif""" )
    #set( $valueStyle =
        "style=""position: relative; min-height: 1px; width: 60%; float: left; margin: 20px 0;""" )
    #set( $linkColor = "#0064ad")
</head>
<body>
<div style="margin: -20px; background-color: #F2F2F2; color: #333333; font-size: 14px; font-family: 'Open Sans', sans-serif">

    <div style="max-width: 800px; margin: 0px auto;">

        <img style="display: block; margin-top: 10px; max-width: 200px"
             src="data:image/png;base64, ${logoBase64}">

        <div style="height: 7px; border-radius: 8px; background: #1e3352; position: relative; top: 4px;"></div>
        <div style="background: white; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);">

            <div style="overflow:hidden; padding: 0 25px;">
                <h2 style="margin: 30px 0; font-size: 22px">${subject}</h2>

                <p $labelStyle>Request date & time</p>
                <p $valueStyle> $requestDateTime</p>
                <p $labelStyle>Organization</p>
                <p $valueStyle>${dto.organizationName}</p>
                <p $labelStyle>Community</p>
                <p $valueStyle>${dto.communityName}</p>
                <p $labelStyle>Name</p>
                <p $valueStyle>${dto.name}</p>

##                #if(${ssnLast4})
##                    <p $labelStyle>SSN</p>
##                    <p $valueStyle>#[[####]]#${ssnLast4}</p>
##                #end
##                #if($dateOfBirth)
##                    <p $labelStyle>DOB</p>
##                    <p $valueStyle>$date.format('MM.dd.yyyy', $dateOfBirth)</p>
##                #end
##                #if($gender)
##                    <p $labelStyle>Gender</p>
##                    <p $valueStyle>${gender}</p>
##                #end

                #if($dto.phone)
                    <p $labelStyle>Phone number</p>
                    <p $valueStyle>${dto.phone}</p>
                #end

                #if($dto.email)
                    <p $labelStyle>Email</p>
                    <p $valueStyle>${dto.email}</a></p>
                #end

                #if($services)
                    <p $labelStyle>Services</p>
                    <p $valueStyle>${services} </p>
                #end
                <p $labelStyle>Appointment date</p>
                <p $valueStyle>$appointmentDate</p>

                <p $labelStyle>Immediate appointment is needed</p>
                <p $valueStyle>${dto.isEmergencyVisit}</p>

                #if($dto.comment)
                    <p $labelStyle>Comment</p>
                    <p $valueStyle>${dto.comment}</p>
                #end

                <p style="float: left; margin-top: 35px; width: 100%">Please contact the Client within ${dto.daysToContact}
                    business days.</p>

                <p style="float: left; margin-top: 45px;  padding-bottom: 20px;width: 100%"">
                Best Regards,<br>
                Simply Connect Team
                </p>

            </div>
        </div>

        <div style="text-align: center; padding-bottom: 30px">
            <div style="margin-top: 15px; color: gray; font-size: 13px">
                PLEASE DO NOT REPLY TO THIS EMAIL. THIS MAILBOX IS NOT SET UP TO RECEIVE EMAILS
            </div>
            <a style="margin-top: 5px; color: $linkColor; display: inline-block" href="http://www.simplyconnect.me">www.simplyconnect.me</a>
        </div>
    </div>
</body>
</html>
