#* @vtlvariable name="dto" type="com.scnsoft.eldermark.dto.notification.AppointmentEmailNotificationDto" *#
<div>
    <b>Dear ${dto.receiverFullName},</b> <br/>
    <br/>
    You have an appointment scheduled.<br/>
    Please review the details of your appointment below.<br/>
    <br/>
    Date: ${dto.appointmentDate}<br/>
    Time: ${dto.appointmentTime}<br/>
    Location: ${dto.communityName} ${dto.location}<br/>
    <br/>
    For more information regarding your appointment, please log on to Simply Connect Portal.<br/>
    #set($buttonLabel = "Sign In")
    #set($buttonUrl = ${dto.appointmentUrl})
    #parse("velocity/button.vm")
    <br/>
    <br/>
    If you are unable to make this appointment, it is important that you call your Provider as soon as possible so they can make other arrangements.<br/>
    <br/>
    If you don't currently have an active Simply Connect account or you have any questions, please contact your Service Provider.<br/>
    <br/>
</div>
