.AddToConversationForm {
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;

    .Scrollable {
        overflow: visible;
    }
}

.AddToConversationForm-Section {
    padding: 20px 40px 20px;
}

.AddToConversationForm-SectionTitle {
    line-height: 1;
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Open Sans Semibold", sans-serif;
}

.AddToConversationForm-SectionSubTitle {
    line-height: 1;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Open Sans Semibold", sans-serif;
}

.AddToConversationForm-TextArea {
    .TextField-Input {
        height: 80px;
    }
}

.AddToConversationForm-Button {
    width: 100px;
    height: 35px;

    &.btn {
        padding: 0;
    }
}

.AddToConversationForm-FilterFieldIcon {
    top: 45px;
    right: 10px;
    width: 24px;
    height: 24px;
    fill: #4c4e51;
    position: absolute;
}

.AddToConversationForm-LabelIcon {
    margin-bottom: 4px;
    margin-left: 4px;
}

.AddToConversationForm-Buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dee2e6;
    padding: 20px 25px 40px;

    .btn {
        padding: 0;
        width: 100px;
        height: 35px;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.AddToConversationForm-BackBtn {
    cursor: pointer;
    color: #0064ad;
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 14px;
    padding: 0 10px;
    display: inline-block;
    margin: 0;
    width: auto;

    &.btn {
        margin-right: auto;
    }

    &:hover {
        color: #0064ad;
    }
}

.AddToConversationForm-RadioGroupField {
    .Radio {
        margin-bottom: 24px;
    }
}
