.monospace
{font-family:monospace;}

.ok {
    color:green;
    font-weight:bold;
}
.nok {
    color:red;
    font-weight:bold;
}

#adt-server-response {
    margin-bottom: 60px;
}

body {
    font: 12px/24px sans-serif;
}

#container {
    display: block;
    padding: 12;
}

h1 {
    color: orangered;
    text-align:center;
    margin-top: 35;
    font-size: 28px;
    margin-bottom: 8
}

#header {
    position: relative;
}

#header #navigation {
    position: absolute;
    right: 12;
    top: 0;
}

#navigation a {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
    color: #222222;
    text-decoration: none;
}

#navigation a:hover, #navigation a:active {
    color: #077BD4;
}

div.right {
    float: right;
    padding: 8 0 8 8;
}

div.left {
    float: left;
    padding: 8 8 8 0;
}

button, .button {
    padding: 5px 9px 5px 9px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #222222;
    font-family: sans-serif;
    line-height: 16px;
}

#refresh > img {
    vertical-align: text-bottom;
}

#refresh {
    padding: 0px;
}

.transparent {
    background: transparent;
    border: none !important;
}
.transparent:focus, .transparent:active, .transparent.active, .transparent:focus:active {
    background-image: none;
    outline: none;
    /*-webkit-box-shadow: none;*/
    box-shadow: none;
}

a.button {
    display: inline-block;
    text-decoration: none;
    color: #222222;
}

div.left > a {
    margin-right: 4px;
}

input[type="text"], input[type="password"] {
    font-family: sans-serif;
    padding: 2px;
    font-size: 12px;
    margin-right: 4px;
}

select {
    font-family: sans-serif;
    padding: 2px;
    font-size: 12px;
    margin-right: 4px;
}

label {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
    color: #222222;
}

#from #to {
    width: 50px;
}

#datasources {
    width: 300px;
    margin-right: 4px;
}

a {
    font-size: 12px;
}

#result_set {
    width:100%; !important
    font-family: verdana, sans-serif;
    font-size:11px;
    color:#222222;
    border-width: 1px;
    border-color: #777777;
    border-collapse: collapse;
}
#result_set th {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: #777777;
    background-color: #dedede;
}
#result_set td {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: #777777;
}

.highlighted {
    background-color: #BEE1F7;
}

.page {
    padding: 4px 9px 4px 9px;
    margin-left: 4px;  /**/
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    font-weight: bold;
    color: #717171;
}

.page.active {
    border: solid 1px #4CAAE5;
    background: #4CAAE5;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .3), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .3);
}

.page.disabled {
    border: solid 1px #616161;
    background: #616161;
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

#login {
    padding-top: 75px;
    margin: auto;
    display: table;
    font-size: 12.25px;
    color: #222222;
    font-family: sans-serif;
}

#loginButton {
    padding: 4px 9px 3px 9px;
    font-size: 12.25px;
}

#login input[type="text"], #login input[type="password"], #login select {
    font-size: 13px;
    line-height: 16px;
}

#login select {
    padding-top: 2px;
    padding-bottom: 3px;
}

.empty, .error.empty {
    color: #A5A5A5;
}

.centered-content {
    text-align: center;
}

#login .msg {
    position: fixed;
    top: 116px;
}

#ui-datepicker-div {
    font-size: 11px;
}

.error {
    color: rgb(255, 0, 123);
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.link, .link:focus, .link:active {
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    margin-right: 10;
    padding: 0;
    outline: none;
    outline-offset: 0;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.link:active {
    color: red;
}

.sync_iteration {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #64BDF5;
}