.ReportFilter {
  width: 100%;
  padding: 12px 24px;
  background-color: #f9f9f9;
  margin-bottom: 50px;
}

.ReportFilter-Btn {
  height: 35px;
  width: 100px;
  margin-top: 10px;
  margin-right: 30px;
  background-color: white;

  &.btn {
    padding: 0;
  }
}