.AfterCodeScanningHeader {
  min-height: 65px;
  height: 65px;
  box-shadow: 0 4px 4px 0 #0000000D;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  img {
    height: 24px;
  }
}

.AfterCodeScanningWrap {
  padding: 0 10px;
  margin-bottom: 20px;
}
