.NexusWrap {
  padding: 30px 24px;
  margin-bottom: 40px;
}

.NexusList-Wrap {
  margin-top: 30px;

  .NexusList-Wrap-Header {
    display: flex;
    justify-content: space-between;

    div:first-child {
      display: flex;
    }

    img {
      cursor: pointer;
    }

    .NexusList-Wrap-Title {
      font-size: 26px;
      font-weight: 600;
      line-height: 35px;
      color: #000;
    }

    .NexusList-Wrap-Title-Num {
      width: 40px;
      height: 22px;
      background-color: #5DC7EC;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
    }

  }
}

.NexusList-Container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 30px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

}

.nexusList-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nexusList-module {
  padding: 10px;
}

.title {
  width: 28px;
  height: 28px;
  background-color: #4991DF;
  color: #fff;

  font-size: 20px;
  font-weight: 600;
  line-height: 27px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.nexusList-box {
  margin-bottom: 20px;
  cursor: pointer;

  .nexusList-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000;
  }

  .nexusList-state {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #949494;
  }
}


.btn-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
.FilterIcon {
  cursor: pointer;
  box-sizing: content-box;
}

.FilterIcon_rotated_90 {
  transform: rotate(90deg);
  transition: 0.3s;
}

.FilterIcon_rotated_0 {
  transform: rotate(0deg);
  transition: 0.3s;
}