@import "custom/_fonts";

.ClientDashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ClientDashboard-Body {
  flex: 1;
  padding: 20px 5px;

  @media (min-width: 450px) {
    padding: 20px 10px;
  }

  @media (min-width: 550px) {
    padding: 20px 30px;
  }
}

.ClientDashboard-Charts {
  display: flex;
  justify-content: space-around;
  background-color: #f9f9f9;
  padding: 40px 0;
}

.ClientDashboardContainer {
  padding: 35px;
}

.ClientDashboard-CardContainer {
  padding: 35px;
}

.ClientDashboard-CardTitle {
  font-size: 26px;
  font-weight: 600;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientDashboard-RecentEvents {
  &.card {
    display: inline-block;
    border-top: 8px solid #03b6f3;
  }
  padding: 24px 20px;
  width: calc(50% - 30px);
  object-fit: contain;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);
}

.ClientDashboard-RecentNotes {
  &.card {
    display: inline-block;
    float: right;
    border-top: 8px solid #0064ad;
  }

  padding: 24px 20px;
  width: calc(50% - 30px);
  object-fit: contain;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);
}

.ClientDashboard-Status {
  height: 22px;
  color: $font-color_head-text;
  font-size: 14px;
  padding: 0 8px;
  border-radius: 2px;
}

.ClientDashboard-ViewMoreBtn {
  float: right;
  margin-top: 20px;
}

.ClientDashboard-DateTimeWrapper {
  position: relative;
  text-align: right;
}

.ClientDashboard-Date {
  font-size: 18px;
}

.ClientDashboard-CardDateTime {
  width: 75px;
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 14px;
  text-align: right;
  color: $font-color_head-text;
}
.ClientDashboard-TextWrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}

.CaseloadTableContainer {
  margin-top: 30px;
  padding: 35px;
}

.CaseLoadTable-Caption {
  display: flex;
  justify-content: space-between;
}

.ClientDashboard-NumberSequence {
  &:after {
    content: '';
    top: 25px;
    left: 11px;
    position: absolute;
    height: 85px;
    width: 3px;
    background-color: #03b6f3;
  }

  width: 26px;
  left: 0;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  height: 26px;
  background-color: #03b6f3;
  border-radius: 50%;
}

.ClientDashboard-PatientProblem {
  font-size: 14px;
  font-weight: 600;
  color: $font-color_head-text;
}

.AppointmentsTable {
  &.Table.table tbody tr {
    td {
      &:first-child {
        padding-left: 5px;
        padding-right: 5px;
      }

      padding-top: 34px;
    }

    &:nth-of-type(even) {
      background-color: #ffffff;
    }

    &:last-child .ClientDashboard-NumberSequence:after {
      display: none;
    }
  }
}

.ClientDashboard-Link {
  display: block;
  font-size: 14px;
  color: #0064ad;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-family: "Open Sans Semibold", sans-serif;
  margin: 0 15px 8px 0;

  &:hover {
    color: #0064ad;
  }
}

.ClientDashboard-LocationField {
  font-size: 14px;
  font-weight: 600;
  color: $font-color_head-text;
}

.ClientDashboard-Title {
  flex: 1;
  color: $font-color_head-text;
  font-size: 26px;
  padding: 10px 0;
  margin-right: 15px;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientDashboard-Header {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

.ClientDashboard-ClientName {
  font-size: 20px;
  color: $font-color_head-text;
  display: inline-block;
  white-space: nowrap;
  font-family: "Open Sans", sans-serif;
}

.ClientDashboard-ControlPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
}

.ClientDashboard-MoreOptionsDropdown {
  margin-right: 15px;

  .btn {
    height: 35px;
    padding: 0 15px;
  }

  .ActionButtonList-Toggle{
    border: 1px solid #0064ad;
  }

  .ActionButtonList-Options{
    left: inherit;
    right: 0;
  }
}

.ClientDashboard-AddNoteBtn {
  &.btn {
    height: 35px;
    padding: 0 15px;
  }
}

.ClientDashboard-DetailsDevicesContainer {
  display: flex;
  padding: 35px;
}

.ClientDashboard-ServicePlansSummary {
  margin-top: 65px;
}

.ClientDashboard-ProblemsSummary {
  margin-bottom: 60px;
}

.ClientDashboard-Section {
  margin-bottom: 60px;

  @media (min-width: 1200px) {
    display: flex;
  }
}

.ClientDashboard-PieChart {
  &.PieChart {
    @media (max-width: 400px) {
      height: 250px;
    }

    @media (min-width: 400px) {
      height: 280px;
    }

    @media (min-width: 550px) and (max-width: 849px) {
      height: 350px;
    }

    @media (min-width: 1200px) {
      height: 350px;
    }

    .recharts-legend-wrapper {
      .recharts-legend-item {
        @media (max-width: 650px) {
          margin-top: 5px;
        }

        @media (min-width: 850px) and (max-width: 1199px) {
          margin-top: 5px;
        }
      }
    }
  }
}

.ClientDashboard-RecentEventsSummarySection {
  flex: 1;
  margin-bottom: 60px;

  @media (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0;
    max-width: calc(50% - 15px);
  }
}

.ClientDashboard-RecentNotesSummarySection {
  flex: 1;

  @media (max-width: 1199px) {
    margin-top: 30px;
  }

  @media (min-width: 1200px) {
    max-width: calc(50% - 15px);
  }
}