.h-flexbox {
  display: flex;
  flex-direction: row;
}

.v-flexbox {
  display: flex;
  flex-direction: column;
}

@for $i from 1 through 10 {
  .flex-#{$i} { flex: $i !important; }
}

.justify-content-stretch {
  justify-content: stretch;
}