form {
  .CheckboxField.form-group {
    margin-bottom: 20px;
  }
}

input[type='number'] {
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='number']:hover::-webkit-inner-spin-button,
input[type='number']:hover::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.form-section {
  position: relative;
  padding: 20px 40px 20px;
}

.form-section-title {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Open Sans Semibold", sans-serif;
}