@each $i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 40 45 50 55 60 65 70 72 75 80 90 100 150 200 250 300 350 400 450 500 {
  .margin-#{$i} {
    margin: #{$i}px !important;
  }
}

@each $o in 'top' 'right' 'bottom' 'left' {
  @each $i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 40 45 50 55 60 65 70 72 75 80 90 100 150 200 250 300 350 400 450 500 {
    .margin-#{$o}-#{$i} {
      margin-#{$o}: #{$i}px !important;
    }
  }
}

@each $i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 40 45 50 55 60 {
  .v-margin-#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }
}

@each $i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 40 45 50 55 60 {
  .h-margin-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }
}