@each $i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 40 45 50 55 60 {
  .padding-#{$i} {
    padding: #{$i}px !important;
  }
}

@each $o in 'top' 'right' 'bottom' 'left' {
  @each $i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 40 45 50 55 60 {
    .padding-#{$o}-#{$i} { padding-#{$o}: #{$i}px !important; }
  }
}

@each $i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 40 45 50 55 60 {
  .v-padding-#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }
}

@each $i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 40 45 50 55 60 {
  .h-padding-#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }
}