*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  width: 8px !important;
  height: 3px !important;
}

*::-webkit-scrollbar-thumb {
  width: 8px !important;
  height: 3px !important;
  background-color: #fff !important;
}
