@import "custom/_fonts";

.ReferralRequestForm {
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;

  &-Section {
    padding: 20px 40px 20px;
  }

  &-SectionTitle {
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Open Sans Semibold", sans-serif;
  }

  &-TextArea {
    .TextField-Input {
      height: 80px;
    }
  }

  &-AdditionalClinicalInfo {
    display: flex;
    flex-direction: column;
  }

  &-Button {
    width: 100px;
    height: 35px;
    margin-top: 30px;

    &.btn {
      padding: 0;
    }
  }

  &-FilterFieldIcon {
    top: 45px;
    right: 10px;
    width: 24px;
    height: 24px;
    fill: #4c4e51;
    position: absolute;
  }

  &-LabelIcon {
    margin-bottom: 4px;
    margin-left: 4px;
  }

  &-PhoneTooltipBody {
    text-align: left;
    padding: 7px 20px;
    margin: 0;
  }

  &-Buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dee2e6;
    padding: 20px 25px 40px;

    .btn {
      padding: 0;
      width: 100px;
      height: 35px;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-CheckboxField {
    display: flex;
    margin-right: 24px !important;
    margin-top: 5px;
    margin-left: 12px;
    margin-bottom: 0 !important;
  }

  &-RadioGroupField {
    display: flex;
    .Radio {
      margin-bottom: 15px;
    }
  }

  &-Alert {
    padding: 18px 16px;
    margin: 16px 0;
    background-color: #fff1ca;
    border-radius: 3px;
  }

  &-AlertText {
    color: $font-color_head-text;
    font-size: 14px;
  }
}