@import "custom/_fonts";

.NeedSection {
  &:last-child {
    margin-bottom: 0;
  }

  position: relative;
  padding-left: 17px;
  margin-bottom: 50px;
}

.NeedSection-Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.NeedSection-GoalTitle {
  font-size: 22px;
  font-weight: bold;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.NeedSection-Title {
  color: $font-color_head-text;
  font-size: 22px;
  font-weight: 600;
  font-family: "Open Sans Semibold", sans-serif;
}

.NeedSection-GoalHeader {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;

  .NeedSection-BigCircle {
    top: 12px;
    left: -22px;
  }
}

.NeedSection-DecoratedLeftBorder {
  position: absolute;
  top: 18px;
  bottom: 22px;
  left: 0;
  width: 2px;
  background-color: #bfbdbd;
}

.NeedSection-BigCircle {
  position: absolute;
  left: -5px;
  top: -5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bfbdbd;
}

.NeedSection-SmallCircle {
  position: absolute;
  bottom: -3px;
  left: -3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #bfbdbd;
}

.NeedSection-AddGoalBtn {
  &.btn {
    padding: 0;
  }

  margin-top: 7px;
  width: 105px;
  height: 35px;
}

.NeedSection-DeleteBtn {
  &:hover {
    background-color: #0064ad;
    border-radius: 3px;
    transition: 0.2s;
    fill: white;
    stroke: white;
    cursor: pointer;
  }

  width: 36px;
  height: 36px;
  padding: 6px;
}

.NeedSection-TextAreaField {
  .TextField-Input {
    height: 80px;
  }
}