@import "custom/_fonts";

.BodyDiagram {
  &.isDisabled {
    .BodyDiagram-Overlay {
      pointer-events: none;
    }

    .BodyDiagram-Point {
      cursor: default;
    }
  }

  &.hasError {
    .BodyDiagram-Card {
      border-color: #f33232;
    }
  }

  &-Card {
    border: 1px solid #dddddd
  }

  &-Overlay {
    padding: 0;
  }

  &-Label {
    font-size: 13px;
    font-weight: bold;
    color: $font-color_head-text;
    font-family: "Open Sans Semibold", sans-serif;
  }

  &-Points {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &-Point {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;

    g {
      stroke: #dc3545;
      stroke-width: 3;

      &:hover {
        stroke: #dc3545;
      }
    }
  }

  &-Dialog {
    position: absolute;
    padding: 8px 16px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    background-color: white;
    width: 180px;
    z-index: 1;
  }

  &-ActionPoint {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 8px;
    height: 8px;
    background-color: #f33232;
    border-radius: 50%;
  }

  &-ActionItem {
    padding: 6px 0;
    font-size: 14px;
    color: $font-color_head-text;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

  &-DeleteIcon {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 12px;
    height: 12px;
    cursor: pointer;

    g {
      stroke-width: 3;

      &:hover {
        stroke: #333333;
      }
    }
  }

  &-Error {
    font-size: 12px;
    color: #dc3545;
  }
}
