<div>
    <b>Dear ${dto.receiverFullName},</b>
    <br><br>
    You have a new lab result(s).
        <br><br>
    #if(${dto.url})
        Please login to the Simply Connect platform to view the result(s).
        #parse( "velocity/button.vm")
    #end
</div>