@import "custom/_fonts.scss";
@import "custom/_page.scss";

.ESignRequestedDocuments {
  flex: 1;
  display: flex;
  flex-direction: column;

  &-Logo {
    padding: 20px;
    margin-bottom: 30px;
    justify-content: center;
    box-shadow: 0 0 10px 1px rgba(100, 117, 118, 0.2);
  }

  &-Header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;

    &Item {
      margin-right: 20px;
      padding-bottom: 10px;

      &:first-child {
        flex: 1
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-Title {
    white-space: nowrap;
    position: relative;
  }

  &-TitleText {
    display: inline-block;
    font-size: 26px;
    color: $font-color_head-text;
    font-family: "Open Sans Semibold", sans-serif;
  }

  &-Body {
    @include page;
  }

  &-ClientName {
    font-size: 20px;
    color: $font-color_head-text;
    font-family: "Open Sans", sans-serif;
  }

  &-OrganizationPhone {
    color: #00ace6;
    font-size: 14px;
    font-family: "Open Sans Semibold", sans-serif;
  }
}