#* @vtlvariable name="confirmation" type="com.scnsoft.eldermark.shared.carecoordination.service.ConfirmationEmailDto" *#
        <div>Dear ${confirmation.user}, </div><br/>
        <div>
            <br/>
            Password for your Simply Connect HIE account has been updated.
        </div>
        <div>
            Now you can login to <a href = '${confirmation.portalUrl}'>Care Coordination Portal</a> using new password.
            Use your email '${confirmation.login}' as Login and '${confirmation.companyName}' as Company ID<br/>

            If you don't recognize this activity, please follow the link below URGENTLY in order to reset your password:<br/>
            <a href = '${confirmation.resetPasswordUrl}'>"Reset Password"</a>
            #parse( "velocity/button.vm")
        </div>

