@import "custom/_fonts";

.NewPassword {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  background: white;
  padding: 5% 0;
}

.NewPassword-InfoText {
  font-size: 18px;
  margin-bottom: 30px;
}

.NewPassword-SimplyConnectLink,
.NewPassword-SimplyConnectPolicyLink {
  color: #0064ad;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
  font-family: "Open Sans Semibold", sans-serif;

  &:hover {
    text-decoration: none;
    color: #0064ad;
  }
}

.NewPassword-Text__CompanyID {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.NewPassword-Title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 25px;
  color: $font-color_head-text;
  font-family: "Open Sans Semibold", sans-serif;
}

.NewPassword-Body {
  display: flex;
  flex-direction: row;
  padding: 0 16px;

  @media (max-width: 869px) {
    flex-direction: column;
  }
}

.NewPassword-LogoImage {
  width: 220px;
  height: 76px;
  margin-right: 50px
}

.NewPassword-PasswordComplexityRules {

}

.NewPassword-Text {
  margin-bottom: 5px;
  font-size: 12px;
  color:  #333333;
}

.NewPassword-Detail {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.NewPassword-DetailIcon {
  fill: #03b6f3;
}

.NewPassword-DetailText {
  font-size: 12px;
  margin-left: 10px;
  color:  grey;
}

.NewPassword-Btn {
  &.btn {
    padding: 0;
  }

  margin-right: 24px;
  width: 130px;
  height: 35px;
}

.NewPassword-AcceptBtnText {
  font-size: 9px;
  margin-bottom: 20px;
}

.NewPassword-SuccessText {
  text-align: center;
  margin-bottom: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: $font-color_head-text;
}